--- channel.css - UPDATED: 11/08/2006 ---

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}
a:hover {text-decoration:none;}

#Layer1_topframe {
	padding-left:25px;
	padding-top:26px;
	z-index:0;
}
#Layer1_contentsFrame {
	padding-left:20px;
	z-index:1;
}
#Layer1_mainframe {
	position:absolute;
	left:0px;
	top:0px;
	width:20px;
	height:0px;
	z-index:2;
}
.Channel {
	font-family: "Wii NTLG PGothic Regular";
}
.contentsFrameBar {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 16pt;
	font-weight: normal;
}
.contentsFrameText {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 14pt;
	font-weight: normal;
	color: #333333;
}
.topFrame_Title {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: -1px;
}
.PageTitle {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 25px;
	color: #FFFFFF;
	letter-spacing: -1px;
}
.PageTitle1 {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 23px;
	color: #FFFFFF;
	letter-spacing: -1px;
}
.PageNumber {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 28px;
	font-weight: bold;
	color: #333333;
}
.MainText {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
	margin-top: 10px;	
}
.Copyright {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
}
.Copyright_index {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 12px;
	font-weight: 600;
	line-height:15px;
	padding-left: 55px;
	padding-right:16px;
	margin-top:0px;
	color: #737373;
}
.cyan {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: bold;
	font-size: 18px;
	color: #00D4F7;
}
.color_blue		{color: #43B6DF;}
.redText {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: normal;
	font-size: 18px;
	color: #FF0000
}
.Q {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: bolder;
	font-size: 22px;
	color: #FFFFFF;
}
.A {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: bolder;
	font-size: 22px;	
	color: #333333;
}
.Question {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: bold; 
	font-size: 18px;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.Answer {
	font-family: "Wii NTLG PGothic Regular";
	font-weight: normal; 
	font-size: 18px;
	letter-spacing: 0px;
	color: #333333;
}
.ButtonPadding_20px {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 19px;
	font-weight: normal;
	color: #333333;
	padding-right: 20px;
}
.Spacer_8px {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 8px;
	font-weight: normal;
	color: #333333;
}
.button {
	padding-top: 2px;
	width: 393px;
	height: 54px;
	background-image: url("img/index_botton.png");
}
.Buttons_ContentMenu_Text {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 19px;
	font-weight: normal;
	color: #333333;
}
.Buttons_ContentMenu_Number {
	font-family: "Wii NTLG PGothic Regular";
	font-size: 19px;
	font-weight: bold;
	color: #333333;
}
.kakomi {
	font-family: "Wii NTLG Gothic JPN Regular";
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	color:#FFFFFF;
	background-color: #999999;
	text-align: justify;
	padding-right:20px;
	padding-left:10px;
}
/*data*/
table.data			{border-collapse:collapse;font-family:"Wii NTLG PGothic Regular";} 
.data th,.data td	{border:1px #666666 solid;color:#333333;text-align:justify;padding:5px 10px;font-size:20px;}
.data thead	th		{background-color:#00D4F7; color:#FFFFFF;}
.data th			{white-space:nowrap;text-align:center;}
.data td			{width:99%;}