/* B_05:  Software Purchase */


#Genre_IMPORT_B_05_E {
	position:absolute;
	left:464px;
	top:170px;
	width:40px;
	height:38px;
	z-index:10;
}
#rating2 {
	position:absolute;
	left:300px;
	top:28px;
	width:1000px;
	height:38px;
	z-index:10;
	font-size: 12px;
	color: #323232; 
    font-family: "Wii NTLG PGothic JPN Regular"; 
    line-height: 16px;
}
#Genre_IMPORT_B_05_J {
	position:absolute;
	left:468px;
	top:171px;
	width:36px;
	height:36px;
	z-index:10;
}
#Genre_IMPORT_B_05_P {
	position:absolute;
	left:468px;
	top:171px;
	width:36px;
	height:36px;
	z-index:10;
}
#Genre_IMPORT_B_05_K {
	position:absolute;
	left:468px;
	top:171px;
	width:36px;
	height:36px;
	z-index:10;
}
#Genre_WIFIFREE_B_05_E {
	position:absolute;
	left:230px;
	top:140px;
	width:47px;
	height:47px;
	z-index:10;
}
#Genre_WIFIFREE_B_05_J {
	position:absolute;
	left:482px;
	top:166px;
	width:47px;
	height:47px;
	z-index:10;
}
#Genre_WIFIFREE_B_05_P {
	position:absolute;
	left:482px;
	top:166px;
	width:47px;
	height:47px;
	z-index:10;
}
#Genre_WIFIFREE_B_05_K {
	position:absolute;
	left:482px;
	top:166px;
	width:47px;
	height:47px;
	z-index:10;
}
#Genre_WIFIPAY_B_05_E {
	position:absolute;
	left:482px;
	top:166px;
	width:38px;
	height:47px;
	z-index:10;
}
#Genre_WIFIPAY_B_05_J {
	position:absolute;
	left:482px;
	top:166px;
	width:38px;
	height:47px;
	z-index:10;
}
#Genre_WIFIPAY_B_05_P {
	position:absolute;
	left:482px;
	top:166px;
	width:38px;
	height:47px;
	z-index:10;
}
#Genre_WIFIPAY_B_05_K {
	position:absolute;
	left:482px;
	top:166px;
	width:38px;
	height:47px;
	z-index:10;
}

#text01-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:36;
}
/*#text02-01 {
	position:absolute;
	left:402px;
	top:391px;
	width:180px;
	height:22px;
	z-index:11;
}*/
/* Main ICR Explaination */
#text02-01 {
    position:absolute;
    left:36px;
    top:88px;
    width:540px;
    height:200px;
    z-index:37;
}

/* ICR Caution */
#text02-02 {
    position:absolute;
    left:36px;
    top:294px;
    width:540px;
    height:60px;
    z-index:37;
}

#icrWarningPage {
    display:none;
}

#textIcrExpire {
    position:absolute;
    left:36px;
    top:88px;
    width:540px;
    height:200px;
    z-index:37;
}

/* ICR BackGround */
#icrBackground {
    position:absolute ;
    left: 51px;
    top :93px;
    z-index:2;
}

#details {
	position:absolute;
	left:36px;
	top:73px;
	width:537px;
	height:217px;
	z-index:9;
}
#buyButton {
    position:absolute;
    left:52px;
    top:293px;
}
#buybanner {
	position:absolute;
/*	left:184px;*/
/*	top:293px;*/
    left:0px;
    top:0px;
	width:241px;
	height:76px;
	z-index:32;
}
#text03-01 {
	position:absolute;
/*	left:204px;*/
/*	top:299px;*/
    left:0px;
    top:6px;
	width:241px;
	height:28px;
	z-index:33;
}
#buybanner2 {
	position:absolute;
	left:160px;
	top:307px;
	width:290px;
	height:42px;
	z-index:32;
}
#text03-02 {
	position:absolute;
	left:160px;
	top:317px;
	width:282px;
	height:16px;
	z-index:33;
}
#price {
	position:absolute;
/*	left:204px;*/
/*	top:333px;*/
    left:0px;
    top:40px;
	width:241px;
	height:28px;
	z-index:34;
}
#buyspacer {
	position:absolute;
/*	left:184px;*/
/*	top:293px;*/
    left:0px;
    top:0px;
	width:241px;
	height:76px;
	z-index:35;
}
#shortagepoint {
	position:absolute;
	left:36px;
	top:310px;
	width:537px;
	height:50px;
	z-index:27;
}
#shortagememory {
	position:absolute;
	left:36px;
	top:300px;
	width:537px;
	height:65px;
	z-index:28;
}
#shortagechannel {
	position:absolute;
	left:36px;
	top:300px;
	width:537px;
	height:65px;
	z-index:28;
}
#shortageinodes {
	position:absolute;
	left:36px;
	top:300px;
	width:537px;
	height:65px;
	z-index:28;
}


#date {
	position:absolute;
	left:171px;
	top:98px;
	width:210px;
	height:17px;
	z-index:13;
}
#Publisher {
	position:absolute;
	left:171px;
	top:119px;
	width:357px;
	height:13px;
	z-index:11;
}
#DisplayCategory {
	position:absolute;
	left:171px;
	top:140px;
	width:357px;
	z-index:10;
}
#Players {
	position:absolute;
	left:389px;
	top:98px;
	width:139px;
	height:13px;
	z-index:12;
}
#TitleName1 {
	position:absolute;
	left:11px;
	top:169px;
	width:515px;
	z-index:8;
}
#TitleName2 {
	position:absolute;
	left:11px;
	top:189px;
	width:515px;
	z-index:7;
}
#Platform {
	position:absolute;
	left:3px;
	top:2px;
	width:218px;
	height:13px;
	z-index:18;
}
#controller {
	position:absolute;
	left:171px;
	top:28px;
	width:77px;
	height:65px;
	z-index:17;
}
#controllerLink {
	position:absolute;
	left:171px;
	top:28px;
	width:77px;
	height:65px;
	z-index:18;
}
#PegiInfo {
    position:absolute;
    left:13px;
    top:40px;
    width:256px;
    height:24px;
    z-index:15;
}
#UskInfo {
    position:absolute;
    left:73px;
    top:40px;
    width:204px;
    height:24px;
    z-index:15;
}
.ImgAgeRating {
    position:absolute;
    top:0px;
    left:0px;
}
.AgeInfoTxt {
    position:absolute;
    display:table;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.AgeInfoLink {
    position:absolute;
    top:0px;
    left:0px;
}
#PEGI_Rating {
	position:absolute;
	left:-1px;
	top:2px;
	width:282px;
	height:30px;
	z-index:15;
}
#GRB_Rating {
	position:absolute;
	left:1px;
	top:13px;
	width:282px;
	height:38px;
	z-index:15;
}
#Rating {
	position:absolute;
	left:250px;
	top:28px;
	width:46px;
	height:65px;
	z-index:15;
}
#BBFC_Img {
	position:absolute;
	left:0px;
	top:12px;
	height:50px;
	z-index:15;
}
#Descriptors {
	position:absolute;
	left:50px;
	top:0px;
	width:230px;
	height:65px;
	z-index:14;
	overflow:hidden;
}
#DescriptorsImage {
	position:absolute;
	left:56px;
	top:0px;
	width:230px;
	height:65px;
	z-index:14;
	overflow:hidden;
}
#DescriptorsImageLower {
	position:absolute;
	left:56px;
	top:34px;
	width:230px;
	height:65px;
	z-index:14;
	overflow:hidden;
}
#OFLC_Rating {
	position:absolute;
	left:-2px;
	top:0px;
	width:65px;
	height:65px;
	z-index:15;		
}
#OFLC_Descriptors {
	position:absolute;
	left:65px;
	top:0px;
	width:214px;
	height:65px;
	z-index:14;
	overflow:hidden;
}
#OFLC_NZ_Rating {
	position:absolute;
	left:-2px;
	top:0px;
	width:133px;
	height:63px;
	z-index:15;
}
#OFLC_NZ_Descriptors {
	position:absolute;
	left:133px;
	top:-2px;
	width:151px;
	height:66px;
	z-index:14;
	overflow:hidden;
}

#selectionMessage {
    position:absolute;
    left:46px;
    top:71px;
    width:517px;
    height:98px;
}
#nandDLButton {
    position:absolute;
    left:46px;
    top:169px;
    width:236px;
    height:184px;
}
#banner01 {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:28;
}
#text01 {
    position:absolute;
    left:8px;
    top:116px;
    width:220px;
    height:54px;
    z-index:29;
}
#spacer01 {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:30;
}


#sdDLButton {
    position:absolute;
    left:326px;
    top:169px;
    width:236px;
    height:184px;
}
#banner02 {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:28;
}
#text02 {
    position:absolute;
    left:8px;
    top:116px;
    width:220px;
    height:54px;
    z-index:29;
}
#spacer02 {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:30;
}
#sdDisable {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:40;
}

.style8 {
    font-size: 12px; 
    color: #323232; 
    font-family: "Wii NTLG PGothic JPN Regular"; 
    line-height: 16px;
}
#Photo {
	position:absolute;
	left:8px;
	top:31px;
	width:160px;
	height:120px;
	z-index:19;
}
#buyshadow {
	position:absolute;
/*	left:167px;*/
/*	top:286px;*/
    left:-17px;
    top:-7px;
	width:274px;
	height:90px;
	z-index:1;
}
body {
	background-repeat: no-repeat;
}

#giftButtonText {
	position:absolute; 
	left:0px; 
	top:6px; 
	width:241px; 
	height:28px; 
	z-index:33;
}

#giftPrice {
	position:absolute; 
	left:0px; 
	top:40px; 
	width:241px; 
	height:28px; 
	z-index:34;
}

.buttonText {
	text-align: center;
}



.startbtns {
	font-family: "Wii NTLG PGothic JPN Regular";
	background-color:rgb(255, 255, 255);
	transition:.5s;
	border-radius: 1px;
	font-weight: bold;
	border: 2px solid #34BEED;

}
.startbtns:hover {
	font-family: "Wii NTLG PGothic JPN Regular";
	background-color:rgb(238, 238, 238);
	border: 2px solid #238fb3;
	border-radius: 5px;
	transition:.5s;
	box-shadow: 0 12px 16px 0 rgba(0, 103, 134, 0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
	font-weight: bolder;
}
.startbtns:active {
	font-family: "Wii NTLG PGothic JPN Regular";
	background-color:rgb(197, 218, 228);
	border: 2px solid #2cb2df;
	border-radius: 5px;
	transition:.5s;
	box-shadow: 0 12px 16px 0 rgba(0, 103, 134, 0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
	font-weight: boldest;
}
.startbtnsDISABLED {
	font-family: "PW-RodinNTLG TT M";
	background-color:rgb(0, 0, 0);
	color:rgb(216, 216, 216);
	border:dotted;
	transition:3s;
	border:dotted;
	opacity: 0.3;
}
.startbtnsDISABLED:hover {
font-family: "PW-RodinNTLG TT M";
	background-color:rgb(97, 97, 97);
	color:rgb(216, 216, 216);
	transition:.5s;
	box-shadow: 0 0px 0px 0 rgba(0, 39, 51, 0), 0 0px 0px 0 rgbrgba(0, 0, 0, 0);
	opacity: 0.7;
}