/* GENERAL */

/* Limit page to 640 by 480 (NTSC TV resolution) */
/* Note: PAL resolution is 640 by 528 */

body {
	background-color:white;
}

#bg {
	position:absolute;
	left:0px;
	top:0px;
	width:608px;
	height:456px;
	z-index:3;
	visibility: visible;
}


FORM { display: inline; } 

/* PROGRESS BAR */

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	background-color:#12d7fa05;
}
a:active {
	text-decoration: none;
	background-color:#12d7fa09;
	font-family: "Wii NTLG PGothic JPN Regular";
}


.bold {
	font-weight: bold;
}
.titleBlackL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 28px;
	color: #323232;
	font-weight: bold;
}
.ambassadortitleBlackL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20 px;
	color: #323232;
	font-weight: bold;
}
.hititleBlackL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 28px;
	color: #12d7fa;
	font-weight: bold;
}
.titleBlackM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 24px;
	color: #323232;
	font-weight: bold;
}
.titleBlackS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #323232;
	font-weight: bold;
    line-height:22px;
}
.titleBlueL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 28px;
	color: #34BEED;
	font-weight: bold;
	transition:.2s;
}
.titleBlueL:hover {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 28px;
	color: #32b0da;
	font-weight: bold;
	transition:.2s;
}

.headerBlueL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20px;
	color: #34BEED;
	font-weight: bold;
}
.headerBlueM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #34BEED;
	font-weight: bold;
}
.headerBlueM_01 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #34BEED;
	font-weight: bold;
}
.headerBlueS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #34BEED;
	font-weight: bold;
}
.headerWhiteM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}

.headerWhiteS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

.buttonTextBlackM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #323232;
	font-weight: normal;
}
.buttonTextBlackL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 22px;
	color: #323232;
	font-weight: normal;
}
.buttonTextWhiteL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 24px;
	color: #FFFFFF;
	font-weight: normal;
}
.buttonTextWhiteS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.buttonTextWhiteS_01 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

.warningRed {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 22px;
	color: #FF0000;
	font-weight: normal;
	line-height:25px;
}
.contentsRedM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #FF0000;
	font-weight: normal;
}

.contentsBlack {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #323232;
	font-weight: normal;
	line-height:16px;
}

.contentsBlackL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20px;
	color: #323232;
	font-weight: normal;
}
.contentsBlackM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #323232;
	font-weight: normal;
}
.contentsBlackS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
}
.contentsBlackS_01 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
}

.contentsBlueM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #34BEED;
	font-weight: normal;
}
.contentsBlueS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #34BEED;
	font-weight: normal;
}
.contentsBlueS_01 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #34BEED;
	font-weight: normal;
}

.contentsGray {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #8C8C8C;
	font-weight: normal;
}
.contentsGrayL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20px;
	color: #8C8C8C;
	font-weight: normal;
}
.contentsGrayM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #8C8C8C;
	font-weight: normal;
}
.contentsGrayS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #8C8C8C;
	font-weight: normal;
}
.contentsOrangeL {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20px;
	color: #AA4941;
	font-weight: normal;
}
.contentsOrangeM {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #AA4941;
	font-weight: normal;
}
.contentsOrangeS {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 14px;
	color: #AA4941;
	font-weight: normal;
}
.message {
	
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #4b4b4b;
	font-weight: normal;	
}


.catalogTitleBlack {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
	line-height: 18px;
}

.catalogTitleBlack_01 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
	line-height: 18px;
}
.catalogTitleBlack_02 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
	line-height: 18px;
}
.catalogTitleBlack_03 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
	line-height: 22px;
}
.catalogTitleBlack_04 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 18px;
	color: #323232;
	font-weight: normal;
	line-height: 22px;
}

.catalogTitleBlackBold {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: bold;
}
.catalogTitleBlue {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #34BEED;
	font-weight: normal;
}
.catalogTitleBlueBold {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #34BEED;
	font-weight: bold;
}
.wiiPoint {
	/* style for current balance */
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 22px;
	color: #34BEED;
	font-weight: normal;
}

.fullScreenText {
    position:absolute;
    left:66px;
    top:85px;
    width:476px;
    height:202px;
}

#underButtonR {
	position:absolute;
	left:399px;
	top:378px;
	width:187px;
	height:55px;
}
#underButtonTL {
	position:absolute;
	left:30px;
	top:160px;
	width:260px;
	height:85px;
}

#underButtonTR {
	position:absolute;
	left:270px;
	top:0px;
	width:260px;
	height:85px;
}
#underButtonDL {
	position:absolute;
	left:-270px;
	top:90px;
	width:260px;
	height:85px;
}

#underButtonDR {
	position:absolute;
	left:270px;
	top:0px;
	width:260px;
	height:85px;
}
#underButtonL {
	position:absolute;
	left:25px;
	top:378px;
	width:187px;
	height:55px;
}
#underButton {
	position:absolute;
	left:211px;
	top:294px;
	width:187px;
	height:55px;
}

.buttonBanner {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:22;
}
.buttonSpacer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:25;
}

.buttonWord {
	position:absolute;
	left:0px;
	top:15px;
	width:100%;
	height:100%;
	line-height:19px;
	z-index:24;
}
.buttonBannerShadow {
	position:absolute;
	left:-12px;
	top:-9px;
	width:211px;
	height:75px;
	z-index:20;
}

.tcell {
    display:table-cell;
}

.h_inline_middle {
    text-align:center;
    width:auto;
    height:auto;
}

.h_block_middle {
    margin-left:auto;
    margin-right:auto;
    width:auto;
    height:auto;
}

.v_middle {
    vertical-align:middle;
    width:auto;
    height:auto;
}

.vh_inline_middle {
    text-align:center;
    vertical-align:middle;
    width:auto;
    height:auto;
}

.h_inline_left {
    text-align:left;
    width:auto;
    height:auto;
}

.v_middle_h_inline_left {
    text-align:left;
    vertical-align:middle;
    width:auto;
    height:auto;
}

#Wiipoint {
	/* location of "Wii Points" the word */
	text-align:center;
	position:absolute;
	left:241px;
	/* //top:396px; */
	top:401px;
	width:130px;
	height:20px;
	z-index:22;
}

#point {
	/* location of current balance */
	text-align:center;
	position:absolute;
	left:241px;
	top:378px;
	width:130px;
	height:22px;
	z-index:97;
}
.dot {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #8C8C8C;
}

#help {
	position:absolute;
	left:537px;
	top:23px;
	width:52px;
	height:55px;
	z-index:100;
}
#top {
	position:absolute;
	left:477px;
	top:23px;
	width:52px;
	height:55px;
	z-index:100;
}
#line01 {
	position:absolute;
	left:4px;
	top:59px;
	width:473px;
	height:10px;
	z-index:98;
}
#line02 {
	position:absolute;
	left:4px;
	top:363px;
	width:600px;
	height:10px;
	/* //z-index:21; */
	z-index:100;
}
#upperLineLong {
	position:absolute;
	left:4px;
	top:59px;
	width:600px;
	height:10px;
	/* //z-index:21; */
	z-index:100;
}
#tophelpshadow {
	position:absolute;
	left:467px;
	top:15px;
	width:132px;
	height:75px;
	z-index:24;
}


.friendcodeinputStyle {
	border-top-width: 20px;
	top: 100%;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ffffff;
	border-right-color: #CCCCCC;
	border-bottom-color: #EAEAEA;
	border-left-color: #CCCCCC;	
}

.inputStyle {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #EAEAEA;
	border-left-color: #CCCCCC;	
}

.spacecover {
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

div.page_area {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
        height: 363px;
}

div.page_title_area {
	position: relative;
	left: 29px;
	top: 28px;
	width: 442px;
	height: 28px;
	text-align: left;
}

div.page_content_area {
	position: relative;
	top: 75px;
	left: 20px;
	text-align: center;
	width: 548px;
}

.bg_connect {
	background-image: url(../images/back/bg_connect.gif);
	background-repeat: no-repeat;
}

.bg_sca {
	background-image: url(../images/back/bg_sca.gif);
	background-repeat: no-repeat;
}
span.font14px{ font-size: 14px; }
span.font16px{ font-size: 16px; }
span.font18px{ font-size: 18px; }
span.font20px{ font-size: 20px; }
span.font22px{ font-size: 22px; }
span.font24px{ font-size: 24px; }




.hr-404 {
	font-family: "PW-RodinNTLG TT M";
	max-width:10px;
}





.activebtn {
	padding:5px;
    height:40px;
    border: 3px solid rgb(65, 186, 235);
    border-radius:5px;
    background-color:rgb(235, 247, 250);
    font-size: 16px;
    text-align:center;
    font-weight:bolder;
	color: #229ebd;
    cursor:pointer;
	font-style:italic;
}

.activebtn:hover {
	padding:5px;
    height:40px;
    border:3px solid rgb(4, 161, 223);
    border-radius:5.5px;
    background-color:rgb(221, 233, 236);
    font-size: 16px;
    text-align:center;
    font-weight:bolder;
	color: #0e7892;
    cursor:pointer;
	font-style:italic;
}

button {
    padding:3px;
	padding-left:3.3px;
	padding-right:3.3px;
	padding-bottom:4px;
    height:40px;
    border: 2.5px solid rgb(96, 206, 250);
    background-color:rgb(255, 255, 255);
    font-size:17px;
    text-align:center;
    font-weight:normal;
	color: #323232;
    font-family: "Wii NTLG PGothic JPN Regular";
	filter: drop-shadow(-1px 5px 3px rgba(50, 50, 0, 0.144));
	transition:.3s;
	margin:2px;
}
button:hover {
	padding:3px;
	padding-bottom:4px;
	padding-left:3.3px;
	padding-right:3.3px;
    height:40px;
	border: 3.5px solid rgb(50, 171, 219);
    background-color:rgb(255, 255, 255);
    font-size:17px;
    text-align:center;
    font-weight:normal;
	color: #323232;
    font-family: "Wii NTLG PGothic JPN Regular";
	filter: drop-shadow(-1px 5px 3px rgba(50, 50, 0, 0.144));
	transition:.3s;
	margin:2px;
}

button:disabled {
    padding:3px;
	padding-left:3.3px;
	padding-right:3.3px;
	padding-bottom:4px;
    height:40px;
    border: 2.5px solid darkgrey;
    background-color:grey;
    font-size:16px;
    text-align:center;
    font-weight:normal;
	color: #464646;
    font-family: "Wii NTLG PGothic JPN Regular";
	filter: drop-shadow(-1px 5px 3px rgba(50, 50, 0, 0.144));
	transition:.3s;
	margin:2px;
}


a {
	color:rgb(34, 167, 255);
}

