
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Flush buffer before setting locale to ensure encoding is preserved -->
<!-- Links -->
<html>
<head>
  <!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="/oss/favicon.ico" /> 
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
	var ecCheck = false;
	var errorCheck = false;
	var buttonsCheck = false;
	var imagesCheck = false;
	var soundCheck = false;
	var shopCheck = false;
	var ossCheck = false;
//-->
</script>

<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>

<script type="text/JavaScript">
<!--
var testMode = 'false';

function getMethod()
{
	return 'GET';	
}

function getPostParams()
{
    var params = "";    
   
   return params;
}

function isConnectingPage()
{
    var isConnecting = '';
    return (isConnecting == 'true');
}

function initPageCommon()
{
	var isShoppingManualEnabled = "true";
    	if (ecSupportsSession()) {
        	isShoppingManualEnabled = ec.getSessionValue("isShopManEnabled");
    	}
    
    	if (isShoppingManualEnabled != "true") {
    		showElement("tophelpshadow");
	    	showElement("help");
    	}
    	
	var ecsUrl = null;
	var iasUrl = null;
	var ccsUrl = null;
	var ucsUrl = null;
	var currBalance = null;

    // js file loading check
	var shopErrCheck = new wiiShop();
	if (shopErrCheck != null && "error" in shopErrCheck) {
		// shopErrCheck.error(209620, 1);
		if (!ecCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!errorCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!buttonsCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!imagesCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!soundCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!shopCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!ossCheck) {
			shopErrCheck.error(209620, 1);
		}
	}

	init();
	
	// Cancel any ongoing async ops
	ec.cancelOperation();
	

	ecsUrl = 'https://ecs.shop.wii.com/ecs/services/ECommerceSOAP';

	iasUrl = 'https://ias.shop.wii.com/ias/services/IdentityAuthenticationSOAP';

	ccsUrl = 'http://ccs.cdn.shop.wii.com/ccs/download';

	ucsUrl = 'https://ccs.shop.wii.com/ccs/download';
	

	ec.setWebSvcUrls(ecsUrl, iasUrl);
	ec.setContentUrls (ccsUrl, ucsUrl);
	
	

	imagesPath = "/static/images/";
	htmlPath = "/static/html";
	ossPath = "https://oss-auth.shop.wii.com/oss/serv/";
	secureOssPath = "https://oss-auth.shop.wii.com/oss/serv/";	

	ecTimeout = new ECTimeout(parseInt("60000"));
	
	
	currBalance = document.getElementById("currentBalance");
	if(currBalance) {
		currBalance.innerHTML = getBalance();
	}		
	
	setLogUrl("Log.jsp");

    if(shop.isCompatibleMode)
    {
        setEulaUrl("L_01.jsp");
    }
    else
    {
        setEulaUrl("L_03_UA_1.jsp");
    }

	
	MM_preloadImages('/static/images//banner/under_banner_a.gif');
	var supportsCreditCard = 'false';
	if (ecSupportsSession()) {
        	ec.setSessionValue("supportsCreditCard", supportsCreditCard);
    	}

    updateHistory();
	var isConnecting = isConnectingPage();
    setConnectingToServer(isConnecting);
    
    if (isHRPDisablePage()) {
	   	wiiDisableHRP();
	} else {
	   	wiiEnableHRP();
	}
}

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->


// Takes a progress object and returns the OSS error message to be displayed to the user
function getOssErrorMsg(progress)
{
	if (progress.status >= 0) { return ""; }
	
    var status = progress.status;
    var errCode = progress.errCode;
    var errInfo = progress.errInfo;

    var msg;	

	var a = new Array();	
	// EC lib Errors
	//a[-(EC_ERROR_CANCELED)] = "???OSS_ERROR_NETWORK_TIMEOUT???";
	a[-(EC_ERROR_NET_NA)] = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ECARD)] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_REGISTER)] = "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ALREADY_OWN)] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	msg = a[-status];

    if (status == EC_ERROR_WS_REPORT) {
    	 msg = getWebServiceErrorMsg(errCode, errInfo);
    } else if (status == EC_ERROR_NET_CONTENT ||
               status == EC_ERROR_FAIL ||
    	       status == EC_ERROR_WS_RECV) {
    	if (errCode != null && errCode < 0) {
    	    var httpStatus = errCodeToHTTPStatus(errCode);
    	    var nhttpStatus = errCodeToNHTTPStatus(errCode);    
      	    if (nhttpStatus == 0 && shop.isCompatibleMode) {
    		    msg = "There was a network error. Check your settings under the Internet option in System Settings on the Wii U Menu.";
    		} else if (nhttpStatus == 0) {
    		    msg = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
    		} else if (nhttpStatus != 0) {
    		    msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
    		}
    	}
    }
        
    if (msg == null || msg == '') {
    	msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	}
	return msg;
}

function setErrorHtmlMsg(elem, errorCode, errorMsg)
{
    var html =
	 	'<span class="warningRed">'
		+ "Error Code: <span id='errorCode'></span></span>"
		+ '<BR><span class="contentsRedM">' + errorMsg + '</span>';
	elem.innerHTML = html;
	document.getElementById("errorCode").innerHTML = errorCode;
}

function setErrorHtml(elem, progress)
{
	if (elem != null) {
	    var errorCode = getOssErrorCode(progress);
    	var errorMsg = getOssErrorMsg(progress);
    	setErrorHtmlMsg(elem, errorCode, errorMsg);
	}
}


// Web service error messages 
// (only include message that may potentially be displayed to user)
// (errCode is progress.errCode from a web service)
// (errInfo is progress.errInfo from a web service)
function getWebServiceErrorMsg(errCode, errInfo)
{
	var a = new Array();
	
	// ECS Errors
	a[617] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[618] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[623]	= "You have downloaded this title before, and your trial period has expired. You cannot redownload it.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[642] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[643] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[644] = "Credit cards cannot be used on this console.<BR><BR>Please Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[645] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ECS Gift Errors
	a[646] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[626] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[625] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ETS Errors
	a[705] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[706] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[707] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// PAS Errors
	a[810]	= "An error has occurred while redeeming your Wii Download Ticket.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[811]	= "The Wii Points Card you entered has expired.";
	//a[812]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[813]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[814]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	a[815]	= "This Wii Points Card has already been redeemed.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[819]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	
	a[826]	= "The server is busy.<BR><BR>Please try again later.";
	a[829]	= "The server is busy.<BR><BR>Please try again later.";
	a[830]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[831] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	// IAS Errors 
	a[901]	= "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[903]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[928] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[958]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[942] = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[943]	= "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";

	a[941] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	
	// More IAS Errors
	a[1401] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	a[1402] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
        a[1403] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1499] = "Unable to confirm the Username at this time. The server is currently undergoing maintenance.<BR><BR>Sorry for the inconvenience. Please try again later.";
	
	// OSS Errors
	a[1610]	= "The Wii Download Ticket you entered has expired.";
	a[1611]	= "The Wii Download Ticket code you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1612] = "This Wii Download Ticket cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1613] = "There is no software available at this time for the Wii Download Ticket code you entered. Please check that you have entered the correct code.<BR><BR>NOTE: If you have activated Parental Controls, you may not be able to view all available software in the Wii Shop Channel. Please check your Parental Controls settings.";
	
	
	var msg = a[errCode];
	if(msg == null || msg == "") { // default errors
		if ((errCode >= 1400 && 
		     errCode <= 1499)) {
			msg = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
		}
	}
	return msg;
}

// NOA errors
function getNOAError(code)
{
	var a=new Array();
	
	a[NOA_ERROR_CountyRequired] 				= "County is required.<BR><BR>Please try again.";
	a[NOA_ERROR_FoundOnBlacklist]				= "Unable to process.<BR><BR>For more information, visit https://weburl.";
	a[NOA_ERROR_BillingAddress]                             = "The information you&rsquo;ve entered regarding your credit-card billing address is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCardType]                            = "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidVfyValue]                            = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCcNumberAndExpDate]                  = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCreditCardNumber]			= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidExpDate]				= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidPostalCode]                          = "The postal code does not match the country settings entered in your Wii Settings.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_TechnicalDifficulties]			= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[NOA_ERROR_TryAgainLater]				= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	a[NOA_RESULT_ERROR_CreditCardDeclined]			= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Funds]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Inactive]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Exp]		= "The credit-card expiration date is invalid.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Code]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_CCNum]		= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Limit]            = "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Invalid]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_AVS]		= "Billing zip/postal code is invalid. Please verify the information and try again. ";

	a[NOA_ERROR_EmptyVfyValue]				= "Please enter the three-digit security code.";

	var msg = a[code];
	return msg;
}

// IAS errors
function isLoyaltyError(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode >= 1400 && 
		     progress.errCode <= 1499) ||
			(progress.errCode == 942) ||
			(progress.errCode == 943) ||
			(progress.errCode == 941)) {
			return true;
		}
	}
	return false;
}	

function needCheckRegistration(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode == 903) ||
		     (progress.errCode == 642) ||
		     (progress.errCode == 625)) {
			return true;
		}
	}
	return false;		
}

function needSyncEticket(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if (progress.errCode == 621) {
			return true;
		}
	}
	return false;		
}



//-->

</script>
<title>Virtual Console</title>
<style type="text/css">
/* B_01:  Virtual Console Top Page */


#text00-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:62;
}

#text00-02 {
	position:absolute;
	left:29px;
	top:80px;
	width:545px;
	height:18px;
	z-index:61;
}

#banner01 {
	position:absolute;
	left:28px;
	top:105px;
	width:260px;
	height:85px;
	z-index:28;
}
#text01 {
	position:absolute;
	left:48px;
	top:115px;
	width:220px;
	height:65px;
	z-index:29;
}
#spacer01 {
	position:absolute;
	left:38px;
	top:115px;
	width:240px;
	height:65px;
	z-index:30;
}

#banner02 {
	position:absolute;
	left:320px;
	top:105px;
	width:260px;
	height:85px;
	z-index:28;
}
#text02 {
	position:absolute;
	left:340px;
	top:115px;
	width:220px;
	height:65px;
	z-index:29;
}
#spacer02 {
	position:absolute;
	left:330px;
	top:115px;
	width:240px;
	height:65px;
	z-index:30;
}

#banner03 {
	position:absolute;
	left:28px;
	top:190px;
	width:552px;
	height:85px;
	z-index:28;
}
#text03 {
	position:absolute;
	left:48px;
	top:200px;
	width:512px;
	height:65px;
	z-index:29;
}
#spacer03 {
	position:absolute;
	left:38px;
	top:200px;
	width:532px;
	height:65px;
	z-index:30;
}

#banner04 {
	position:absolute;
	left:28px;
	top:275px;
	width:552px;
	height:85px;
	z-index:28;
}
#text04 {
	position:absolute;
	left:48px;
	top:285px;
	width:512px;
	height:65px;
	z-index:29;
}
#spacer04 {
	position:absolute;
	left:38px;
	top:285px;
	width:532px;
	height:65px;
	z-index:30;
	overflow: hidden;
}
body {
	background-color: white;
	background-repeat: no-repeat;
}

</style>
<script type="text/JavaScript">

function initPage()
{
	initPageCommon();
	MM_preloadImages('/static/images//banner/under_banner_b.gif',
                     '/static/images//banner/help_b.gif',
                     '/static/images//banner/top_b.gif',
                     '/static/images//banner/B01_halfbanner_b.png',
                     '/static/images//banner/B01_banner_b.png');
	// hideElement("underbannershadowL");
}

</script>
<script type="text/JavaScript" src='/static/js//keyboard.js'></script>
</head>

<body onload="initPage();">
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<div id="constElements">
    <div id="tophelpshadow"><img src="/static/images//banner/top_help_shadow01.gif" width="132" height="75" /></div>
  <div id="help">
	<a href="/shopguide" onclick="wiiSelectSound();" onMouseOver="snd.playSE( cSE_Forcus );">
		<img src="/static/images//banner/help_a.gif" name="TopImage" 
		 width="52" height="55" border="0" id="ManualImageID"   onMouseOver="this.src='/static/images/banner/help_b.gif'"  onMouseDown="this.src='/static/images/banner/help_b.gif'" onMouseOut="this.src='/static/images/banner/help_a.gif'"
		 onClick="snd.playSE(cSE_Decide);"/>
		<img src="/static/images//banner/help_b.gif" 
		 width="52" height="55" border="0" id="ManualImageID" style="display:none" />
		<img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
		 id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
		</a>
  </div>

  <div id="top">
	<a href="/homepage" onclick="wiiCancelSound();" onMouseOver="snd.playSE( cSE_Forcus );">
    <img src="/static/images//banner/top_a.gif" name="TopImage"  onMouseOver="this.src='/static/images/banner/top_b.gif'"  onMouseDown="this.src='/static/images/banner/top_b.gif'" onMouseOut="this.src='/static/images/banner/top_a.gif'"
     width="52" height="55" border="0" id="TopImageID" 
     />
    <img src="/static/images//banner/top_gray.gif" 
     width="52" height="55" border="0" id="TopGrayImageID" style="display:none" />
    <img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
     id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
	</a>
  </div>

  
  <div class="dot" id="line01">･･･････････････････････････････････････････････････････････&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;･･</div>
  <div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>
  <div class="dot" id="upperLineLong" style="display:none">･･･････････････････････････････････････････････････････････････････････････</div>
  
  <div id='balanceInfo' onclick="wiiSelectSound();" onmousedown="window.location.href='/addpoints'"
   onmouseover="MM_swapImage('PointSpacer','','/static/images//banner/Addpoints_everywhere.gif',1);wiiFocusSound();" 
   onmouseout="MM_swapImgRestore();">
    <script type="text/JavaScript">MM_preloadImages('/static/images//banner/Addpoints_everywhere.gif');</script>
    <img src="/static/images//spacer.gif" name="PointSpacer" width="130" height="55" border="0"
     id='PointSpacer' style="position:absolute; top:376px; left:239px; z-index:20;"/>
    <div id="Wiipoint">
      <div align="center" class="buttonTextBlackM">Wii Points</div>
    </div>
    <div id="point" class="wiiPoint"><span id="wiipointsbalance">{{ ptsNB | safe }}</span></div>
  </div>
</div>

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script language="JavaScript">MM_preloadImages('/static/images//banner/under_banner_b.gif');</script>
<div id="underButtonL" style="display:block">
    <div id="underbannershadowL" class="buttonBannerShadow">
   	  <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
   	</div>
    <div id="underbannerL" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgL" />
    </div>
    <div id="underspacerL" class="buttonSpacer">
	  <a href="/homepage" id="underlinkL" onclick="wiiCancelSound();">
    	<img id="underimageL" src="/static/images//spacer.gif" width="187" height="55" border="0"  
    	onmouseover="MM_swapImage('underImgL','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
    	onmouseout="MM_swapImgRestore()"/>
      </a>	
    </div>
    <div id="underwordL" align="center" class="buttonTextBlackM buttonWord">
        Back
    </div>
</div>

<div id="underButtonR" style="display:none">
    <div id="underbannershadowR" class="buttonBannerShadow">
   	  <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
   	</div>
    <div id="underbannerR" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgR" />
    </div>
    <div id="underspacerR" class="buttonSpacer">
	  <a href=""  id="underlinkR"  onmousedown="wiiSelectSound();">
    	<img id="underimageR" src="/static/images//spacer.gif" width="187" height="55" border="0"  
    	onmouseover="MM_swapImage('underImgR','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus ); " 
    	onmouseout="MM_swapImgRestore()"/>
      </a>	
    </div>
    <div id="underwordR" align="center" class="buttonTextBlackM buttonWord">
    </div>
</div>

<div id="underButton" style="display:none">
    <div id="underbannershadow" class="buttonBannerShadow">
    	<img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" /></div>
    <div id="underbanner" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImg" /></div>
    <div id="underspacer" class="buttonSpacer">
	<a href="" id="underlink">
    	<img id="underimage" src="/static/images//spacer.gif" width="187" height="55" border="0" 
    	onmouseover="MM_swapImage('underImg','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
    	onmouseout="MM_swapImgRestore()">
    	</a>
    </div>
    <div id="underword" align="center" class="buttonTextBlackM buttonWord"></div>
</div>


<div id="text00-01">
  <div align="left"><span class="titleBlackL">Virtual Console</span></div>
</div>

<div id="text00-02" class="style28">
  <div align="left" class="headerBlueM">Classic games from past systems</div>
</div>

<div id="banner01"><img src="/static/images//banner/B01_halfbanner_a.png" width="260" height="85" id="Image01" /></div>
<div id="text01">
  <table width="100%" height="100%"><tr><td align="center" valign="middle"><span class="catalogTitleBlack">Popular Titles</span></td></tr></table>
</div>
<div id="spacer01"><a href="/channels?popular=true&p=1&vc=true"><img src="/static/images//spacer.gif" name="Image01s" width="240" height="65" border="0" id="Image01s" onmouseover="MM_swapImage('Image01','','/static/images//banner/B01_halfbanner_b.png',1);snd.playSE( cSE_Forcus );" onmouseout="MM_swapImgRestore()" onclick="snd.playSE(cSE_Decide);" /></a></div>

<div id="banner02"><img src="/static/images//banner/B01_halfbanner_a.png" width="260" height="85" id="Image02" /></div>
<div id="text02">
  <table width="100%" height="100%"><tr><td align="center" valign="middle"><span class="catalogTitleBlack">Newest Additions</span></td></tr></table>
</div>
<div id="spacer02"><a href="/channels?order=new&p=1&vc=true"><img src="/static/images//spacer.gif" name="Image02s" width="240" height="65" border="0" id="Image02s" onmouseover="MM_swapImage('Image02','','/static/images//banner/B01_halfbanner_b.png',1);snd.playSE( cSE_Forcus );" onmouseout="MM_swapImgRestore()" onclick="snd.playSE(cSE_Decide);" /></a></div>

<div id="banner03"><img src="/static/images//banner/B01_banner_a.png" width="552" height="85" id="Image03" /></div>
<div id="text03">
  <table width="100%" height="100%"><tr><td align="center" valign="middle"><span class="catalogTitleBlack">Search by Category</span></td></tr></table>
</div>
<div id="spacer03"><a href="/VCSBC"><img src="/static/images//spacer.gif" name="Image03s" width="532" height="65" border="0" id="Image03s" onmouseover="MM_swapImage('Image03','','/static/images//banner/B01_banner_b.png',1);snd.playSE( cSE_Forcus );" onmouseout="MM_swapImgRestore()" onclick="snd.playSE(cSE_Decide);" /></a></div>

<div id="banner04"><img src="/static/images//banner/B01_banner_a.png" width="552" height="85" id="Image04" /></div>
<div id="text04">
  <table width="100%" height="100%"><tr><td align="center" valign="middle"><span class="catalogTitleBlack">Search by Game Title</span></td></tr></table>
</div>
<div id="spacer04"><input type=text name="Image04s" maxlength="40" style="position:absolute; left: -400px; width:970px; height:65px; background: none; border: 0pt; font-size: 1pt; color: #FFFFFF;" id="Image04s" onmouseover="MM_swapImage('Image04','','/static/images//banner/B01_banner_b.png',1);snd.playSE( cSE_Forcus );" onmouseout="MM_swapImgRestore();" onmousedown="Image04s.blur(); if(kbd) kbd.call( cKT_PredictNoLF, 5, false, 'Enter the name of the title you want.' );" onchange="Image04s.blur(); searchValue=Image04s.value; Image04s.value=''; searchUrl=addParam('/searchresults?p=1&vc=true', 'title', searchValue); if (searchValue != '') showPage(searchUrl);" /></div>
<br>

</body>
</html>
