<!DOCTYPE html>
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />
<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>


<title>Wii Shop Channel</title>
<style type="text/css">
  /* F_01:  Connecting to Server */
/* NOTE:  used by index.jsp, Register.jsp, CheckRegistered.jsp, and CheckBalance.jsp */


#text01-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:546px;
	height:28px;
	z-index:27;
}
#text02-01 {
	position:absolute;
	left:25px;
	top:100px;
	width:560px;
	height:180px;
	z-index:31;
}
body {
  overflow:hidden;
}
</style>
</head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="static/css/error.css" rel="stylesheet" type="text/css" />
<SCRIPT language="JavaScript" src="static/js/ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='static/js/error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='static/js/sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/oss.js"></SCRIPT>

<script type="text/JavaScript">
  	snd.playSE(7);
    var shop = new wiiShop();
            const unused = shop.connecting;
            setTimeout(baDing, 500);
            setTimeout(redirect, 4500);
            function baDing() {
                sound.playSE(7);
            }
            // CHANGE TO /maint if the shop is under maintenance, change to /indexx if the shop isn't under maintenance.
            function redirect() {
              setTimeout=(1000),
              hideElement=("updatedbox"),
              shop.beginWaiting();
                // change /firstpage to /firstpageclassic for reviive shops birthday event on every Janurary 20th.

                window.location.href = "/firstpage";
                // change /firstpage to /firstpageclassic for reviive shops birthday event on every Janurary 20th.

                 // CHANGE TO /maint if the shop is under maintenance, change to /indexx if the shop isn't under maintenance.
            }

</script>
<body onload="initPage()">
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script language="JavaScript">MM_preloadImages('/static/images//banner/under_banner_b.gif');</script>



<div class="dot" id="line01">･･･････････････････････････････････････････････････････････････････････････</div>
<div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>

 <div class="titleBlueL" id="text01-01">
 Wii Shop Channel</div>

<div align="center" class="titleBlueL" id="text02-01">
  Connecting. Please wait...
  <br>



<div align="left" id="errorCodeText"></div>
</body>
</html>




















































