<!-- START SHOP STUFFS -->






<!-- START SHOP STUFFS -->
 

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Flush buffer before setting locale to ensure encoding is preserved -->
<html>
<script>
	var wiishop = new wiiShop();
	const unused = wiishop.connecting;
</script>
<script>
	var keyboard = new wiiKeyboard();
</script>
<head >
  <!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="/static/REVIIVESHOPBAG.png" /> 
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />

<script type="text/JavaScript">
<!--
	
	var ecCheck = false;
	var errorCheck = false;
	var buttonsCheck = false;
	var imagesCheck = false;
	var soundCheck = false;
	var shopCheck = false;
	var ossCheck = false;



//-->
</script>


<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>

<script type="text/JavaScript">
<!--
var testMode = 'false';

function getMethod()
{
	return 'GET';	
}

function getPostParams()
{
    var params = "";    
   
   return params;
}

function isConnectingPage()
{
    var isConnecting = '';
    return (isConnecting == 'true');
}



function initPageCommon()
{
	//oss.startpage();
    //var keyboard = new wiiKeyboard();
	//var keyboard = new wiiKeyboard();
    snd.playSE(8);
    //shop.enableHRP();
    //shop.endWaiting;
	//var wiiShop = new wiiShop();
	//const unused = wiiShop.connecting;
	//var sound = new wiiSound();
	
	
	//wiiShop.setSCARank(1);

	// play shop bgm
	//snd.playBGM();

// START BGM AND CUSTOMISE SHOP ETC
//if (snd && "playBGM" in snd) {
	//snd.playBGM();
//}


		var isShoppingManualEnabled = "true";
    	if (ecSupportsSession()) {
        	isShoppingManualEnabled = ec.getSessionValue("isShopManEnabled");
    	}
    
    	if (isShoppingManualEnabled != "true") {
    		showElement("tophelpshadow");
	    	showElement("help");
    	}
    	
	var ecsUrl = null;
	var iasUrl = null;
	var ccsUrl = null;
	var ucsUrl = null;
	var currBalance = null;

	       // js file loading check
	var shopErrCheck = new wiiShop();
	if (shopErrCheck != null && "error" in shopErrCheck) {
		// shopErrCheck.error(209620, 1);
		if (!ecCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!errorCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!buttonsCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!imagesCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!soundCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!shopCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!ossCheck) {
			shopErrCheck.error(209620, 1);
		}
	}


	init();
	
	// Cancel any ongoing async ops
	ec.cancelOperation();
	

	ecsUrl = 'https://ecs.shop.wii.com/ecs/services/ECommerceSOAP';

	iasUrl = 'https://ias.shop.wii.com/ias/services/IdentityAuthenticationSOAP';

	ccsUrl = 'http://ccs.cdn.shop.wii.com/ccs/download';

	ucsUrl = 'https://ccs.shop.wii.com/ccs/download';
	

	ec.setWebSvcUrls(ecsUrl, iasUrl);
	ec.setContentUrls (ccsUrl, ucsUrl);
	
	

	imagesPath = "/static/images/";
	htmlPath = "/static/html";
	ossPath = "https://oss-auth.shop.wii.com/oss/serv/";
	secureOssPath = "https://oss-auth.shop.wii.com/oss/serv/";	

	
	
	currBalance = document.getElementById("currentBalance");
	if(currBalance) {
		currBalance.innerHTML = getBalance();
	}		
	
	setLogUrl("/404");

    if(shop.isCompatibleMode)
    {
        setEulaUrl("/404");
    }
    else
    {
        setEulaUrl("/404");
    }


	
	MM_preloadImages('/static/images//banner/under_banner_a.gif');
	var supportsCreditCard = 'false';
	if (ecSupportsSession()) {
        	ec.setSessionValue("supportsCreditCard", supportsCreditCard);
    	}

    updateHistory();
	//var isConnecting = isConnectingPage();
    //setConnectingToServer(isConnecting);
    
    if (isHRPDisablePage()) {
	   	wiiDisableHRP();
	} else {
	   	wiiEnableHRP();
	}
}

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->


// Takes a progress object and returns the OSS error message to be displayed to the user
function getOssErrorMsg(progress)
{
	if (progress.status >= 0) { return ""; }
	
    var status = progress.status;
    var errCode = progress.errCode;
    var errInfo = progress.errInfo;

    var msg;	

	var a = new Array();	
	// EC lib Errors
	//a[-(EC_ERROR_CANCELED)] = "???OSS_ERROR_NETWORK_TIMEOUT???";
	a[-(EC_ERROR_NET_NA)] = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ECARD)] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_REGISTER)] = "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ALREADY_OWN)] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	msg = a[-status];

    if (status == EC_ERROR_WS_REPORT) {
    	 msg = getWebServiceErrorMsg(errCode, errInfo);
    } else if (status == EC_ERROR_NET_CONTENT ||
               status == EC_ERROR_FAIL ||
    	       status == EC_ERROR_WS_RECV) {
    	if (errCode != null && errCode < 0) {
    	    var httpStatus = errCodeToHTTPStatus(errCode);
    	    var nhttpStatus = errCodeToNHTTPStatus(errCode);    
      	    if (nhttpStatus == 0 && shop.isCompatibleMode) {
    		    msg = "There was a network error. Check your settings under the Internet option in System Settings on the Wii U Menu.";
    		} else if (nhttpStatus == 0) {
    		    msg = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
    		} else if (nhttpStatus != 0) {
    		    msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
    		}
    	}
    }
        
    if (msg == null || msg == '') {
    	msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	}
	return msg;
}

function setErrorHtmlMsg(elem, errorCode, errorMsg)
{
    var html =
	 	'<span class="warningRed">'
		+ "Error Code: <span id='errorCode'></span></span>"
		+ '<BR><span class="contentsRedM">' + errorMsg + '</span>';
	elem.innerHTML = html;
	document.getElementById("errorCode").innerHTML = errorCode;
}

function setErrorHtml(elem, progress)
{
	if (elem != null) {
	    var errorCode = getOssErrorCode(progress);
    	var errorMsg = getOssErrorMsg(progress);
    	setErrorHtmlMsg(elem, errorCode, errorMsg);
	}
}


// Web service error messages 
// (only include message that may potentially be displayed to user)
// (errCode is progress.errCode from a web service)
// (errInfo is progress.errInfo from a web service)
function getWebServiceErrorMsg(errCode, errInfo)
{
	var a = new Array();
	
	// ECS Errors
	a[617] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[618] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[623]	= "You have downloaded this title before, and your trial period has expired. You cannot redownload it.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[642] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[643] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[644] = "Credit cards cannot be used on this console.<BR><BR>Please Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[645] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ECS Gift Errors
	a[646] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[626] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[625] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ETS Errors
	a[705] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[706] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[707] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// PAS Errors
	a[810]	= "An error has occurred while redeeming your Wii Download Ticket.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[811]	= "The Wii Points Card you entered has expired.";
	//a[812]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[813]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[814]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	a[815]	= "This Wii Points Card has already been redeemed.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[819]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	
	a[826]	= "The server is busy.<BR><BR>Please try again later.";
	a[829]	= "The server is busy.<BR><BR>Please try again later.";
	a[830]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[831] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	// IAS Errors 
	a[901]	= "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[903]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[928] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[958]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[942] = "Unable to confirm the Username at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[943]	= "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";

	a[941] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	
	// More IAS Errors
	a[1401] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	a[1402] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
        a[1403] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1499] = "Unable to confirm the Username at this time. The server is currently undergoing maintenance.<BR><BR>Sorry for the inconvenience. Please try again later.";
	
	// OSS Errors
	a[1610]	= "The Wii Download Ticket you entered has expired.";
	a[1611]	= "The Wii Download Ticket code you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1612] = "This Wii Download Ticket cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1613] = "There is no software available at this time for the Wii Download Ticket code you entered. Please check that you have entered the correct code.<BR><BR>NOTE: If you have activated Parental Controls, you may not be able to view all available software in the Wii Shop Channel. Please check your Parental Controls settings.";
	
	
	var msg = a[errCode];
	if(msg == null || msg == "") { // default errors
		if ((errCode >= 1400 && 
		     errCode <= 1499)) {
			msg = "Unable to confirm the Username at this time. Please try again later.<BR><BRCreate a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
		}
	}
	return msg;
}

// NOA errors
function getNOAError(code)
{
	var a=new Array();
	
	a[NOA_ERROR_CountyRequired] 				= "County is required.<BR><BR>Please try again.";
	a[NOA_ERROR_FoundOnBlacklist]				= "Unable to process.<BR><BR>For more information, visit https://reviive.andry6702.net/.";
	a[NOA_ERROR_BillingAddress]                             = "The information you&rsquo;ve entered regarding your credit-card billing address is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCardType]                            = "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidVfyValue]                            = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCcNumberAndExpDate]                  = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCreditCardNumber]			= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidExpDate]				= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidPostalCode]                          = "The postal code does not match the country settings entered in your Wii Settings.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_TechnicalDifficulties]			= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[NOA_ERROR_TryAgainLater]				= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	a[NOA_RESULT_ERROR_CreditCardDeclined]			= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Funds]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Inactive]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Exp]		= "The credit-card expiration date is invalid.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Code]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_CCNum]		= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Limit]            = "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Invalid]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_AVS]		= "Billing zip/postal code is invalid. Please verify the information and try again. ";

	a[NOA_ERROR_EmptyVfyValue]				= "Please enter the three-digit security code.";

	var msg = a[code];
	return msg;
}

// IAS errors
function isLoyaltyError(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode >= 1400 && 
		     progress.errCode <= 1499) ||
			(progress.errCode == 942) ||
			(progress.errCode == 943) ||
			(progress.errCode == 941)) {
			return true;
		}
	}
	return false;
}	

function needCheckRegistration(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode == 903) ||
		     (progress.errCode == 642) ||
		     (progress.errCode == 625)) {
			return true;
		}
	}
	return false;		
}

function needSyncEticket(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if (progress.errCode == 621) {
			return true;
		}
	}
	return false;		
}



//-->

</script>


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Link clab tendo</title>
        <style>

            /* Add the following styles for layout */
            body {
                margin: 0; /* Remove default body margin */
                font-family: "Wii NTLG PGothic JPN Regular";
                background-image:url(/static/bg_clab.png);
background-repeat:no-repeat;
overflow:hidden;
            }

</style>

    </head>

    <body onload="initPage()">

        <!--  -----------------------------------------------------  -->
        <!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
        <!--  All Rights Reserved.                                   -->
        <!--                                                         -->
        <!--  This software contains confidential information and    -->
        <!--  trade secrets of Acer Cloud Technology, Inc.           -->
        <!--  Use, disclosure or reproduction is prohibited without  -->
        <!--  the prior express written permission of Acer Cloud     -->
        <!--  Technology, Inc.                                       -->
        <!--  -----------------------------------------------------  -->
<script language="JavaScript">MM_preloadImages('/static/images//banner/under_banner_b.gif');</script>
<div id="underButtonL" style="display:block">
    <div id="underbannershadowL" class="buttonBannerShadow">
   	  <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
   	</div>
    <div id="underbannerL" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgL" />
    </div>
    <div id="underspacerL" class="buttonSpacer">
	  <a href="/settings" id="underlinkL" onclick="wiiCancelSound();">
    	<img id="underimageL" src="/static/images//spacer.gif" width="187" height="55" border="0"  
    	onmouseover="MM_swapImage('underImgL','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
    	onmouseout="MM_swapImgRestore()"/>
      </a>	
    </div>
    <div id="underwordL" align="center" class="buttonTextBlackM buttonWord">
        Do Not Link
    </div>
</div>

        
<div id="underButtonR" style="display:block" method="post">
	<div id="underbannershadowL" class="buttonBannerShadow">
		 <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
	   </div>
	<div id="underbannerR" class="buttonBanner">
		<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgR" />
	</div>
	<div id="underspacerR" class="buttonSpacer" id="submitbtn">
	  <a  onclick="submitForm();" method="post"  id="underlinkR"  onmousedown="wiiSelectSound();">
		<img id="underimageR" src="/static/images//spacer.gif" width="187" height="55" border="0"  
		onmouseover="MM_swapImage('underImgR','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
		onmouseout="MM_swapImgRestore()"/>
	  </a>	
	</div>
	<div id="underwordR" align="center" class="buttonTextBlackM buttonWord">
		Link
	</div>
</div>

<script>
	function submitForm() {
		var form = document.getElementById("linkclubform");
		
		if (form) {
			form.submit();
		}
	}
	</script>
 
    
        <div class="dot" id="line01">･･･････････････････････････････････････････････････････････････････････････</div>
        <div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>
        
        <div class="titleBlackM" id="text01-01">
          Club Nintendo Membership Link</div>
        
        <div id="S_02" abineguid="034F2F4C0B544FF4BE2BDE3FE0023D28">
        
    
            <div class="contentsBlack" id="text02-01">
            If you are a Club Nintendo member, you can link your Username to your Wii Shop Channel now. By linking, your future Wii downloads will automatically be registered to your Club Nintendo account, and you will be eligible to earn exclusive rewards. For details, see https://reviive.andry6702.net/otherpages/clubnintendo/.<br><br>Club Nintendo Membership is not required to use the Wii Shop Channel.
<br><br>
<a href="/unlinkclubaccount" style="margin-top:-3px;">Unlink your account</a>
</div>
        
      
            <form action="/loadlinkingclubacc" method="post" id="linkclubform">

<!-- form start -->

                <input type="text" name="Username" id=""  placeholder="username" required class="usernamestyle" onclick="keyboard.call(1);">
                <input type="password" name="password" placeholder="password" id="" required class="passwordstyle" onclick="keyboard.call(1);">

<!-- form end -->

<p class="usernametext">Username</p>
<p class="pswtext">Password</p>
          

                        </form>


        </div>


     <style>
.usernametext {
position:absolute;
left:75px;
top:230px;
}

.pswtext {
position:absolute;
left:75px;
top:295px;
}
    .usernamestyle {
        display:block;     
        background-color:rgb(255, 255, 255);
    margin-left:170px;
    margin-top:230px;
    width:330px;
    height:50px;
    }
    
     .passwordstyle {
    display:block;
    background-color:rgb(255, 255, 255);
    margin-left:170px;
    margin-top:10px;
    width:330px;
    height:50px;
    
    }
    
     </style>
    

        
        
        
        </body>
    

    <style type="text/css">
        
        /* Top-Left Page Title */
        #text01-01 {
            position:absolute;
            left:29px;
            top:28px;
            width:442px;
            height:28px;
            z-index:32;
        }
        
        /* Main ICR Explaination */
        #text02-01 {
            position:absolute;
            left:36px;
            top:88px;
            width:540px;
            height:200px;
            z-index:37;
        }
        
        
        /* ICR BackGround */
        #icrBackground {
            position:absolute ;
            left: 51px;
            top :93px;
            z-index:2;
        }
        </style>
</html>


<style>

#infoText {
                color: {{ infoColor }};
                font-weight: bold;
            }
</style>



