<script>
	var wiishop = new wiiShop();
	const unused = wiishop.connecting;
</script>

<script>
setTimeout(function() {
  wiishop.endWaiting();
}, 100);
</script>
<script> shop.enableHRP(); // Enable Home Button Menu. </script>
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Flush buffer before setting locale to ensure encoding is preserved -->
<html>
<head>
<script> shop.enableHRP(); // Enable Home Button Menu. </script>
<title>Wii Shop Channel</title>
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="/static/REVIIVESHOPBAG.png" /> 
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
	var ecCheck = false;
	var errorCheck = false;
	var buttonsCheck = false;
	var imagesCheck = false;
	var soundCheck = false;
	var shopCheck = false;
	var ossCheck = false;
	var wiiShop = new wiiShop();
    const unused = wiiShop.connecting;
shop.enableHRP();
//-->
</script>
<script language="JavaScript "src="/static/js/enablehomemenu.js"></script>
<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>

<script type="text/JavaScript">
<!--
var testMode = 'false';

function getMethod()
{
	return 'POST';	
}

function getPostParams()
{
    var params = "";    

  			    params += 'cardNumber=';
                   
   return params;
}

function isConnectingPage()
{
    var isConnecting = '';
    return (isConnecting == 'true');
}

function initPageCommon()
{
shop.enableHRP();

shop.endWaiting();
		var isShoppingManualEnabled = "true";
    	if (ecSupportsSession()) {
        	isShoppingManualEnabled = ec.getSessionValue("isShopManEnabled");
    	}
    
    	if (isShoppingManualEnabled != "true") {
    		showElement("tophelpshadow");
	    	showElement("help");
    	}
    	
	var ecsUrl = null;
	var iasUrl = null;
	var ccsUrl = null;
	var ucsUrl = null;
	var currBalance = null;

    // js file loading check
	var shopErrCheck = new wiiShop();
	if (shopErrCheck != null && "error" in shopErrCheck) {
		// shopErrCheck.error(209620, 1);
		if (!ecCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!errorCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!buttonsCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!imagesCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!soundCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!shopCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!ossCheck) {
			shopErrCheck.error(209620, 1);
		}
	}

	init();
	
	// Cancel any ongoing async ops
	ec.cancelOperation();
	

	ecsUrl = 'https://ecs.shop.wii.com/ecs/services/ECommerceSOAP';

	iasUrl = 'https://ias.shop.wii.com/ias/services/IdentityAuthenticationSOAP';

	ccsUrl = 'http://ccs.cdn.shop.wii.com/ccs/download';

	ucsUrl = 'https://ccs.shop.wii.com/ccs/download';
	

	ec.setWebSvcUrls(ecsUrl, iasUrl);
	ec.setContentUrls (ccsUrl, ucsUrl);
	
	

	imagesPath = "/static/images/";
	htmlPath = "/static/html";
	ossPath = "https://oss-auth.shop.wii.com/oss/serv/";
	secureOssPath = "https://oss-auth.shop.wii.com/oss/serv/";	

	ecTimeout = new ECTimeout(parseInt("60000"));
	
	
	currBalance = document.getElementById("currentBalance");
	if(currBalance) {
		currBalance.innerHTML = getBalance();
	}		
	
	setLogUrl("/404");

    if(shop.isCompatibleMode)
    {
        setEulaUrl("/404");
    }
    else
    {
        setEulaUrl("/404");
    }


	
	MM_preloadImages('/static/images//banner/under_banner_a.gif');
	var supportsCreditCard = 'false';
	if (ecSupportsSession()) {
        	ec.setSessionValue("supportsCreditCard", supportsCreditCard);
    	}

    updateHistory();
	var isConnecting = isConnectingPage();
    setConnectingToServer(isConnecting);
    
    if (isHRPDisablePage()) {
	   	wiiDisableHRP();
	} else {
	   	wiiEnableHRP();
	}
}

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->


// Takes a progress object and returns the OSS error message to be displayed to the user
function getOssErrorMsg(progress)
{
	if (progress.status >= 0) { return ""; }
	
    var status = progress.status;
    var errCode = progress.errCode;
    var errInfo = progress.errInfo;

    var msg;	

	var a = new Array();	
	// EC lib Errors
	//a[-(EC_ERROR_CANCELED)] = "???OSS_ERROR_NETWORK_TIMEOUT???";
	a[-(EC_ERROR_NET_NA)] = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ECARD)] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_REGISTER)] = "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ALREADY_OWN)] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	msg = a[-status];

    if (status == EC_ERROR_WS_REPORT) {
    	 msg = getWebServiceErrorMsg(errCode, errInfo);
    } else if (status == EC_ERROR_NET_CONTENT ||
               status == EC_ERROR_FAIL ||
    	       status == EC_ERROR_WS_RECV) {
    	if (errCode != null && errCode < 0) {
    	    var httpStatus = errCodeToHTTPStatus(errCode);
    	    var nhttpStatus = errCodeToNHTTPStatus(errCode);    
      	    if (nhttpStatus == 0 && shop.isCompatibleMode) {
    		    msg = "There was a network error. Check your settings under the Internet option in System Settings on the Wii U Menu.";
    		} else if (nhttpStatus == 0) {
    		    msg = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
    		} else if (nhttpStatus != 0) {
    		    msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
    		}
    	}
    }
        
    if (msg == null || msg == '') {
    	msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	}
	return msg;
}

function setErrorHtmlMsg(elem, errorCode, errorMsg)
{
    var html =
	 	'<span class="warningRed">'
		+ "Error Code: <span id='errorCode'></span></span>"
		+ '<BR><span class="contentsRedM">' + errorMsg + '</span>';
	elem.innerHTML = html;
	document.getElementById("errorCode").innerHTML = errorCode;
}

function setErrorHtml(elem, progress)
{
	if (elem != null) {
	    var errorCode = getOssErrorCode(progress);
    	var errorMsg = getOssErrorMsg(progress);
    	setErrorHtmlMsg(elem, errorCode, errorMsg);
	}
}


// Web service error messages 
// (only include message that may potentially be displayed to user)
// (errCode is progress.errCode from a web service)
// (errInfo is progress.errInfo from a web service)
function getWebServiceErrorMsg(errCode, errInfo)
{
	var a = new Array();
	
	// ECS Errors
	a[617] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[618] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[623]	= "You have downloaded this title before, and your trial period has expired. You cannot redownload it.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[642] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[643] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[644] = "Credit cards cannot be used on this console.<BR><BR>Please Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[645] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ECS Gift Errors
	a[646] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[626] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[625] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ETS Errors
	a[705] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[706] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[707] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// PAS Errors
	a[810]	= "An error has occurred while redeeming your Wii Download Ticket.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[811]	= "The Wii Points Card you entered has expired.";
	//a[812]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[813]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[814]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	a[815]	= "This Wii Points Card has already been redeemed.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[819]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	
	a[826]	= "The server is busy.<BR><BR>Please try again later.";
	a[829]	= "The server is busy.<BR><BR>Please try again later.";
	a[830]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[831] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	// IAS Errors 
	a[901]	= "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[903]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[928] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[958]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[942] = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[943]	= "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";

	a[941] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	
	// More IAS Errors
	a[1401] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	a[1402] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
        a[1403] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1499] = "Unable to confirm the Username at this time. The server is currently undergoing maintenance.<BR><BR>Sorry for the inconvenience. Please try again later.";
	
	// OSS Errors
	a[1610]	= "The Wii Download Ticket you entered has expired.";
	a[1611]	= "The Wii Download Ticket code you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1612] = "This Wii Download Ticket cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1613] = "There is no software available at this time for the Wii Download Ticket code you entered. Please check that you have entered the correct code.<BR><BR>NOTE: If you have activated Parental Controls, you may not be able to view all available software in the Wii Shop Channel. Please check your Parental Controls settings.";
	
	
	var msg = a[errCode];
	if(msg == null || msg == "") { // default errors
		if ((errCode >= 1400 && 
		     errCode <= 1499)) {
			msg = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
		}
	}
	return msg;
}

// NOA errors
function getNOAError(code)
{
	var a=new Array();
	
	a[NOA_ERROR_CountyRequired] 				= "County is required.<BR><BR>Please try again.";
	a[NOA_ERROR_FoundOnBlacklist]				= "Unable to process.<BR><BR>For more information, visit https://ftolnks.xyz/.";
	a[NOA_ERROR_BillingAddress]                             = "The information you&rsquo;ve entered regarding your credit-card billing address is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCardType]                            = "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidVfyValue]                            = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCcNumberAndExpDate]                  = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCreditCardNumber]			= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidExpDate]				= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidPostalCode]                          = "The postal code does not match the country settings entered in your Wii Settings.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_TechnicalDifficulties]			= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[NOA_ERROR_TryAgainLater]				= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	a[NOA_RESULT_ERROR_CreditCardDeclined]			= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Funds]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Inactive]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Exp]		= "The credit-card expiration date is invalid.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Code]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_CCNum]		= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Limit]            = "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Invalid]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_AVS]		= "Billing zip/postal code is invalid. Please verify the information and try again. ";

	a[NOA_ERROR_EmptyVfyValue]				= "Please enter the three-digit security code.";

	var msg = a[code];
	return msg;
}

// IAS errors
function isLoyaltyError(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode >= 1400 && 
		     progress.errCode <= 1499) ||
			(progress.errCode == 942) ||
			(progress.errCode == 943) ||
			(progress.errCode == 941)) {
			return true;
		}
	}
	return false;
}	

function needCheckRegistration(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode == 903) ||
		     (progress.errCode == 642) ||
		     (progress.errCode == 625)) {
			return true;
		}
	}
	return false;		
}

function needSyncEticket(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if (progress.errCode == 621) {
			return true;
		}
	}
	return false;		
}



//-->

</script>
<style type="text/css">
  /* P_03:  Prepaid Card Overflow Error */
/* Errors handled in error.css */

/* P_04:  Prepaid Card Error */
/* Errors handled in error.css */

#text01-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:28;
}
#coolingoff {
	position:absolute;
	left:34px;
	top:94px;
	width:542px;
	height:81px;
	z-index:28;
}/* P_05:  Redeem Confirmation */

#topFrame {
	/* frame to hold top area of P_05 */
	position:absolute;
	left:59px;
	top:112px;
	width:490px;
	height:121px;
	z-index:20;
}
#P_05-text02-01 {
	position:absolute;
	left:0px;
	top:14px;
	width:100%;
	height:40px;
	z-index:21;
}
#P_05-text02-02 {
	position:absolute;
	left:0px;
	top:71px;
	width:100%;
	height:40px;
	z-index:21;
}
#P_05-text03-01 {
	position:absolute;
	left:48px;
	top:290px;
	width:514px;
	height:18px;
	z-index:21;
}


#progressBar {
	position:absolute;
	left:120px;
	top:100px;
	width:400px;
}

#P_05-text05-01 {
        position:absolute;
        left:0px;
        top:17px;
        width:100%;
        height:40px;
        z-index:21;
}
#P_05-text05-02 {
        position:absolute;
        left:0px;
        top:74px;
        width:100%;
        height:40px;
        z-index:21;
}
#P_05-text05-03 {
        position:absolute;
        left:0px;
        top:137px;
        width:100%;
        height:40px;
        z-index:21;
}
#P_05-text05-04 {
        position:absolute;
        left:0px;
        top:194px;
        width:100%;
        height:40px;
        z-index:21;
        color: #ff0000;
}
</style>
<script type="text/javascript">
<!--
trace( "pointPricing.itemCurrency>>>>>>>>>ii");
var maxBalance;
var currentBalance;
var refillPoints;
var newBalance;
var limitExceeded = 0;

var defaultError = "There was an error redeeming your Wii Points Card.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
var AdditionMessage=false;


function initPage()
{
shop.endWaiting();
	var errors = 0;
	initPageCommon();


	currentBalance = getBalance();
	MM_preloadImages('/static/images//banner/help_b.gif','/static/images//banner/top_b.gif','/static/images//banner/under_banner_b.gif');
	refillPoints = parseInt(getRefillPoints());
	newBalance = currentBalance+refillPoints;
	disableWiiPointButton();
	

	errors = 1;
	handleErrors();


	if(!errors && checkNotRedeemed()) {

		maxBalance = 20000;
		limitExceeded = (newBalance > maxBalance);
		if (limitExceeded) {
			showOverflow();
			errors = 1;
		}

		if(!errors) {
			wiiDisableHRP();
			showElement("redeemConfirm");
			hideElement("coolingoff");
			document.getElementById("refillPts").innerHTML = refillPoints;

			setUnderButtonR(true, "Redeem", "javascript:redeemPointsCard()", "wiiSelectSound()");

			setUnderButtonL(true, "Do Not Redeem", "javascript:showBack()", "wiiCancelSound()");
		}
	}
}

function toggleMessage(){
    hideElement("redeemConfirm");
    hideElement("progressBar");
    showElement("coolingoff");
    setUnderButtonR(true, "(N/A)", "javascript:redeemECashCard()", "wiiSelectSound()");
    setUnderButtonL(true, "(N/A)", "javascript:showBack()", "wiiCancelSound()");
}

// returns false if card balance == 0
function checkNotRedeemed()
{
	var cardBalance = '';
	if(cardBalance > 0)
		return true;
	else {
		displayError(parseInt()+OSS_WS_ERROR_RANGE_START,
			     "This Wii Points Card has already been redeemed.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.");
		return false;
	}
}

function showOverflow()
{
//	showElement("MaxLimitExceeded");
	setErrorMsg(OSS_ERROR_PREPAID_OVERFLOW, 'Your Wii Points balance cannot exceed <span id="maxBalance"></span> points. <BR><BR>You cannot redeem this Wii Points Card at this time. Adding these points will put you over the limit. ');
	document.getElementById("maxBalance").innerHTML = maxBalance;
	setUnderButton(true, "OK", "javascript:returnToPrepaid()", "if(snd) snd.playSE(cSE_Decide);");
	setUnderButtonR(false);
	setUnderButtonL(false);
}


function displayError(code, errorTxt)
{
	setErrorMsg(code, errorTxt);
	hideElement("redeemConfirm");
	hideElement("progressBar");
    hideElement("coolingoff");
	setUnderButton(true, "OK", "javascript:returnToPrepaid()", "wiiCancelSound()");
	setUnderButtonR(false);
	setUnderButtonL(false);
}

function handleProgressError(progress)
{
	var code;
	var errorTxt = defaultError;
	var tempError;
	if(progress) {
		code = getOssErrorCode(progress);
		tempError = getOssErrorMsg(progress);
		if(tempError != null && tempError != "") {
			errorTxt = tempError;
		}
		
		enableTopHelpElements();
		displayError(code, errorTxt);
	}
	else {
		enableTopHelpElements();
		handleErrors();
	}
}

function handleErrors()
{
	var code = 0;
	var errorTxt = defaultError;
	var tempError;

	code = '206601';
	
	tempError = getWebServiceErrorMsg(code - OSS_WS_ERROR_RANGE_START);
	if(tempError != null && tempError != "") {
		errorTxt = tempError;
	}

	displayError(code, errorTxt);
}

function returnToPrepaid()
{
	showBack();
}

function getPayment()
{
	var ecardNumber = '';
	return new ECECardPayment(ecardNumber);
}

function getPrice()
{
	var amount      = '';
	var currency    = '';
	return new ECPrice (amount, currency);
}

function getPriceAfterTax()
{
	var price= '';
	var currency    = '';
	return new ECPrice (price, currency);
}

function getRefillPoints()
{
	return '';
}

function buyPoints()
{
	// Price
	var price = getPrice();
            
	// Request
	var itemId = '';
	var payment = getPayment();
	var progress = ec.purchasePoints (refillPoints, itemId, price, payment);  // both

	opName = "Purchase Points";
	opDesc = "Purchasing " + refillPoints + " Points ";

	finishOp(opName, opDesc, progress, "onBuyPointsDone");
}

function buyPointsECashCard()
{
	// Price
	var price = getPriceAfterTax();
            
	// Request
	var itemId = '';
	var payment = getPayment();
	var taxes = '';
	var taxInfo = '';
	var progress = ec.purchasePoints (refillPoints, itemId, price, payment, taxes, taxInfo);  // both

	opName = "Purchase Points";
	opDesc = "Purchasing " + refillPoints + " Points ";

	finishOp(opName, opDesc, progress, "onBuyPointsDone");
}

function onBuyPointsDone(progress){
    wiiEnableHRP();
    showResult (progress, opName, opDesc);

    if(progress.status >= 0) {
        var transId = "";
        var transType = "";

        ec.setSessionValue("transId", transId);
        ec.setSessionValue("transType", transType);

        ec.setSessionValue("refilled", getRefillPoints());
        ec.setSessionValue("playAddPoint", "true");
        showPage('P_15.jsp');
    } else {
        handleProgressError(progress);		
    }
}

function redeemPointsCard()
{
	hideElement("topFrame");
	hideElement("P_05-text03-01");
	disableTopHelpElements();
	setUnderButtonL(false);
	setUnderButtonR(false);
	buyPoints();
}

function redeemECashCard()
{
	hideElement("topFrame");
	hideElement("P_05-text03-01");
	disableTopHelpElements();
	setUnderButtonL(false);
	setUnderButtonR(false);
	buyPointsECashCard();
}

-->
</script>
</head>


<body onload="initPage()">
 <script> shop.enableHRP(); // Enable Home Button Menu. </script>
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<div id="constElements">
    <div id="tophelpshadow"><img src="/static/images//banner/top_help_shadow01.gif" width="132" height="75" /></div>
  <div id="help">
	<a href="/shopguide" onclick="wiiSelectSound();" onMouseOver="snd.playSE( cSE_Forcus );">
		<img src="/static/images//banner/help_a.gif" name="TopImage" 
		 width="52" height="55" border="0" id="ManualImageID"   onMouseOver="this.src='/static/images/banner/help_b.gif'"  onMouseDown="this.src='/static/images/banner/help_b.gif'" onMouseOut="this.src='/static/images/banner/help_a.gif'"
		 onClick="snd.playSE(cSE_Decide);"/>
		<img src="/static/images//banner/help_b.gif" 
		 width="52" height="55" border="0" id="ManualImageID" style="display:none" />
		<img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
		 id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
		</a>
  </div>

  <div id="top">
	<a href="/homepage" onclick="wiiCancelSound();" onMouseOver="snd.playSE( cSE_Forcus );">
    <img src="/static/images//banner/top_a.gif" name="TopImage"  onMouseOver="this.src='/static/images/banner/top_b.gif'"  onMouseDown="this.src='/static/images/banner/top_b.gif'" onMouseOut="this.src='/static/images/banner/top_a.gif'"
     width="52" height="55" border="0" id="TopImageID" 
     />
    <img src="/static/images//banner/top_gray.gif" 
     width="52" height="55" border="0" id="TopGrayImageID" style="display:none" />
    <img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
     id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
	</a>
  </div>
  
  <div class="dot" id="line01">･･･････････････････････････････････････････････････････････&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;･･</div>
  <div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>
  <div class="dot" id="upperLineLong" style="display:none">･･･････････････････････････････････････････････････････････････････････････</div>
  

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script language="JavaScript">MM_preloadImages('/static/images//banner/under_banner_b.gif');</script>
<div id="underButtonL" style="display:none">
    <div id="underbannershadowL" class="buttonBannerShadow">
   	  <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
   	</div>
    <div id="underbannerL" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgL" />
    </div>
    <div id="underspacerL" class="buttonSpacer">
	  <a href=""  id="underlinkL"  onmousedown="wiiCancelSound();">
    	<img id="underimageL" src="/static/images//spacer.gif" width="187" height="55" border="0"  
    	onmouseover="MM_swapImage('underImgL','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
    	onmouseout="MM_swapImgRestore()"/>
      </a>	
    </div>
    <div id="underwordL" align="center" class="buttonTextBlackM buttonWord">
    </div>
</div>

<div id="underButtonR" style="display:none">
    <div id="underbannershadowR" class="buttonBannerShadow">
   	  <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" />
   	</div>
    <div id="underbannerR" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImgR" />
    </div>
    <div id="underspacerR" class="buttonSpacer">
	  <a href="/homepage"  id="underlinkR"  onmousedown="wiiSelectSound();">
    	<img id="underimageR" src="/static/images//spacer.gif" width="187" height="55" border="0"  
    	onmouseover="MM_swapImage('underImgR','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus ); " 
    	onmouseout="MM_swapImgRestore()"/>
      </a>	
    </div>
    <div id="underwordR" align="center" class="buttonTextBlackM buttonWord">
		Go to the home page
    </div>
</div>


<div id="underButton" style="display:block">
    <div id="underbannershadow" class="buttonBannerShadow">
    	<img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75" /></div>
    <div id="underbanner" class="buttonBanner">
    	<img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImg" /></div>
    <div id="underspacer" class="buttonSpacer">
	<a href="/homepage" id="underlink">
    	<img id="underimage" src="/static/images//spacer.gif" width="187" height="55" border="0" 
    	onmouseover="MM_swapImage('underImg','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" 
    	onmouseout="MM_swapImgRestore()">
    	</a>
    </div>
    <div id="underword" align="center" class="buttonTextBlackM buttonWord">OK</div>
</div>



<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<!-- points card redeemed page -->

<div align="left" class="warningRed" id="errorCodeText" style="display:none">
    Error Code: <span id="errorCodePlaceholder"></span></div>

<div align="left" class="contentsRedM" id="errorText" style="display:none">
     <span id="errorTextPlaceholder"></span>
</div><div class="titleBlackM" id="text01-01">Add Wii Points</div>
<div id="progressBar"><!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<div id="Progress">
	<div id="dynDiv1" class="contentsBlackS"></div>
    <div id="dynDiv2" class="contentsBlackS"></div>
    <div id="errDiv" class="contentsBlackS"></div>
</div></div>

<div id="pointFrame01">
  <img src="/static/images/banner/point_frame01.gif">
  <div id="AddPoint" align="right" class="buttonTextBlackM">Wii Points Added:</div>
  <div id="pointU" align="right">
  	<b><span class="buttonTextBlackM" id="addedPts"></span></b>
	<span class="buttonTextBlackM"> Free Wii Points</span>
  </div>
  
  <div id="NowPoint" align="right" class="contentsBlueM" style="margin-left:-10px;">New Wii Points Balance:</div>
  <div id="pointD" align="right">
  	<b><span class="contentsBlueM" id="newBalance"></span></b>
	<span class="contentsBlueM" style="margin-left:3px;">{{ ptsNB | safe }} Wii Points</span>
  </div>
</div>

<div id="text01-01" align="left" class="titleBlackL"></div>
<div id="text02-01" class="catalogTitleBlack">
  	<span id="addedPoints"></span>free Wii Points were added to your Wii Shop Channel account!</div>

<div id="coolingoff" class="catalogTitleBlack_02" style="display: none;">(N/A)</div>

<div id='balanceInfo' onclick="wiiSelectSound();" 
onmouseover="MM_swapImage('PointSpacer','','/static/images//banner/Addpoints_everywhere.gif',1);wiiFocusSound();" 
onmouseout="MM_swapImgRestore();">
 <script type="text/JavaScript">MM_preloadImages('/static/images//banner/Addpoints_everywhere.gif');</script>
 <img src="/static/images//spacer.gif" name="PointSpacer" width="130" height="55" border="0"
  id='PointSpacer' style="position:absolute; top:376px; left:239px; z-index:20;"/>
 <div id="Wiipoint">
   <div align="center" class="buttonTextBlackM">Wii Points</div>
 </div>
 <div id="point" class="wiiPoint"><span id="wiipointsbalance">{{ ptsNB | safe }}</span></div>
</div>
</div>

<script> shop.enableHRP(); // Enable Home Button Menu. </script>

</body>
</html>

<script>
	snd.playSE(7); // ADDED PTS SOUND
</script>

<style type="text/css">
  /* P_15:  New Wii Points Balance */

#text01-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:23;
}
#text02-01 {
	position:absolute;
	left:110px;
	top:100px;
	width:390px;
	height:48px;
	z-index:20;
}

#pointFrame01 {
	position:absolute;
	left:60px;
	top:162px;
	width:490px;
	height:121px;
	z-index:35;
}
#AddPoint {
	position:absolute;
	left:13px;
	top:17px;
	width:240px;
	height:28px;
	z-index:36;
}
#pointU {
	position:absolute;
	left:240px;
	top:17px;
	width:215px;
	height:28px;
	z-index:36;
}
#NowPoint {
	position:absolute;
	left:13px;
	top:77px;
	width:240px;
	height:28px;
	z-index:36;
}
#pointD {
	position:absolute;
	left:240px;
	top:77px;
	width:215px;
	height:28px;
	z-index:36;
}
</style>