
<!DOCTYPE html>
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />
<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>


<title>Wii Shop Channel</title>
<style type="text/css">
  /* F_01:  Connecting to Server */
/* NOTE:  used by index.jsp, Register.jsp, CheckRegistered.jsp, and CheckBalance.jsp */


#text01-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:546px;
	height:28px;
	z-index:27;
}
#text02-01 {
	position:absolute;
	left:25px;
	top:100px;
	width:560px;
	height:180px;
	z-index:31;
}
body {
  overflow:hidden;
}
</style>
</head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="static/css/error.css" rel="stylesheet" type="text/css" />
<SCRIPT language="JavaScript" src="static/js/ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='static/js/error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='static/js/sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="static/js/oss.js"></SCRIPT>

<script type="text/JavaScript">
    var shop = new wiiShop();
            const unused = shop.connecting;
            setTimeout(redirect, 5000);
            function redirect() {
              shop.beginWaiting(),
                window.location.href = "/addpointsusingthefinptsystem";
              
            }

</script>

<script> shop.disableHRP(); // Disable Home Button Menu. </script>

<body>
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script language="JavaScript">MM_preloadImages('/static/images//banner/under_banner_b.gif');</script>

<div id="constElements" >
  <div id="tophelpshadow"><img src="/static/images//banner/top_help_shadow01.gif" width="132" height="75" /></div>
  <div id="help">

		<img src="/static/images//banner/help_gray.gif" name="TopImage" 
		 width="52" height="55" border="0" id="ManualImageID" onmouseout="MM_swapImgRestore()" 
		 onmouseover="MM_swapImage('TopImage','','/static/images//banner/help_gray.gif',1); wiiFocusSound();"
		 onclick="wiiSelectSound();"/>
		<img src="/static/images//banner/help_gray.gif" 
		 width="52" height="55" border="0" id="ManualImageID" style="display:none" />
		<img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
		 id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
		</a>
  </div>

  <div id="top">

    <img src="/static/images//banner/top_gray.gif" name="TopImage" 
     width="52" height="55" border="0" id="TopImageID" onmouseout="MM_swapImgRestore()" 
     onmouseover="MM_swapImage('TopImage','','/static/images//banner/top_gray.gif',1); wiiFocusSound();"
     onclick="wiiCancelSound();"/>
    <img src="/static/images//banner/top_gray.gif" 
     width="52" height="55" border="0" id="TopGrayImageID" style="display:none" />
    <img src="/static/images//spacer.gif" name="MainSpacer" width="52" height="55" border="0"
     id='MainSpacer' style="position:absolute; top:0px; left:0px; display:none"/>
	</a>
  </div>

  <div class="dot" id="line01">････････････････････････････････････････････････････････････････････&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;････</div>

  <div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>
  <div class="dot" id="upperLineLong" style="display:none">･･･････････････････････････････････････････････････････････････････････････</div>



 <div class="titleBlackL" id="text01-01">
 Wii Points Purchase</div>

<div align="center" class="titleBlackM" id="text02-01">
 <span style="font-size:21px;"> Please wait while we authorize your <br>
credit card...</span>
  <br>
<p style="font-size:13px; color:grey;">(just for show we dont have that information.)</p>


<div align="left" id="errorCodeText"></div>
</body>
</html>




















































