<script>
    var wiishop = new wiiShop();
    const unused = wiishop.connecting;
</script>

<script>
setTimeout(function() {
  wiishop.endWaiting();
}, 100);
</script>

<script> shop.enableHRP(); // Enable Home Button Menu. </script>

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Flush buffer before setting locale to ensure encoding is preserved -->
<html>
<head>
<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="/static/REVIIVESHOPBAG.png" />  
<link href="/static/css/oss.css" rel="stylesheet" type="text/css" />
<link href="/static/css/error.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
//<!--
	var ecCheck = false;
	var errorCheck = false;
	var buttonsCheck = false;
	var imagesCheck = false;
	var soundCheck = false;
	var shopCheck = false;
	var ossCheck = false;
	var wiiShop = new wiiShop();
    const unused = wiiShop.connecting;
//-->
</script>
<script language="JavaScript "src="/static/js/enablehomemenu.js"></script>
<SCRIPT language="JavaScript" src="/static/js//ec.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//error.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//buttons.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//images.js"></SCRIPT>
<SCRIPT language="JavaScript" src='/static/js//sound.js'></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//shop.js"></SCRIPT>
<SCRIPT language="JavaScript" src="/static/js//oss.js"></SCRIPT>

<script type="text/JavaScript">
<!--
var testMode = 'false';

function getMethod()
{
	return 'GET';	
}

function getPostParams()
{
    var params = "";    
   
   return params;
}

function isConnectingPage()
{
    var isConnecting = '';
    return (isConnecting == 'true');
}

function initPageCommon()
{
snd.playSE(12);
		var isShoppingManualEnabled = "true";
    	if (ecSupportsSession()) {
        	isShoppingManualEnabled = ec.getSessionValue("isShopManEnabled");
    	}
    
    	if (isShoppingManualEnabled != "true") {
    		showElement("tophelpshadow");
	    	showElement("help");
    	}
    	
	var ecsUrl = null;
	var iasUrl = null;
	var ccsUrl = null;
	var ucsUrl = null;
	var currBalance = null;

    // js file loading check
	var shopErrCheck = new wiiShop();
	if (shopErrCheck != null && "error" in shopErrCheck) {
		// shopErrCheck.error(209620, 1);
		if (!ecCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!errorCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!buttonsCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!imagesCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!soundCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!shopCheck) {
			shopErrCheck.error(209620, 1);
		} else if (!ossCheck) {
			shopErrCheck.error(209620, 1);
		}
	}

	init();
	
	// Cancel any ongoing async ops
	ec.cancelOperation();
	

	ecsUrl = 'https://ecs.shop.wii.com/ecs/services/ECommerceSOAP';

	iasUrl = 'https://ias.shop.wii.com/ias/services/IdentityAuthenticationSOAP';

	ccsUrl = 'http://ccs.cdn.shop.wii.com/ccs/download';

	ucsUrl = 'https://ccs.shop.wii.com/ccs/download';
	

	ec.setWebSvcUrls(ecsUrl, iasUrl);
	ec.setContentUrls (ccsUrl, ucsUrl);
	
	

	imagesPath = "/static/images/";
	htmlPath = "/static/html";
	ossPath = "https://oss-auth.shop.wii.com/oss/serv/";
	secureOssPath = "https://oss-auth.shop.wii.com/oss/serv/";	

	ecTimeout = new ECTimeout(parseInt("60000"));
	
	
	currBalance = document.getElementById("currentBalance");
	if(currBalance) {
		currBalance.innerHTML = getBalance();
	}		
	
	setLogUrl("/404");

    if(shop.isCompatibleMode)
    {
        setEulaUrl("/404");
    }
    else
    {
        setEulaUrl("/404");
    }

	
	MM_preloadImages('/static/images//banner/under_banner_a.gif'),
                     '/static/images//banner/under_banner_b.gif';
	var supportsCreditCard = 'false';
	if (ecSupportsSession()) {
        	ec.setSessionValue("supportsCreditCard", supportsCreditCard);
    	}

    updateHistory();
	var isConnecting = isConnectingPage();
    setConnectingToServer(isConnecting);
    
    if (isHRPDisablePage()) {
	   	wiiDisableHRP();
	} else {
	   	wiiEnableHRP();
	}
}

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->


// Takes a progress object and returns the OSS error message to be displayed to the user
function getOssErrorMsg(progress)
{
	if (progress.status >= 0) { return ""; }
	
    var status = progress.status;
    var errCode = progress.errCode;
    var errInfo = progress.errInfo;

    var msg;	

	var a = new Array();	
	// EC lib Errors
	//a[-(EC_ERROR_CANCELED)] = "???OSS_ERROR_NETWORK_TIMEOUT???";
	a[-(EC_ERROR_NET_NA)] = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ECARD)] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_REGISTER)] = "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[-(EC_ERROR_ALREADY_OWN)] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	msg = a[-status];

    if (status == EC_ERROR_WS_REPORT) {
    	 msg = getWebServiceErrorMsg(errCode, errInfo);
    } else if (status == EC_ERROR_NET_CONTENT ||
               status == EC_ERROR_FAIL ||
    	       status == EC_ERROR_WS_RECV) {
    	if (errCode != null && errCode < 0) {
    	    var httpStatus = errCodeToHTTPStatus(errCode);
    	    var nhttpStatus = errCodeToNHTTPStatus(errCode);    
      	    if (nhttpStatus == 0 && shop.isCompatibleMode) {
    		    msg = "There was a network error. Check your settings under the Internet option in System Settings on the Wii U Menu.";
    		} else if (nhttpStatus == 0) {
    		    msg = "There was a network error. Please check your Internet settings and your network configuration.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
    		} else if (nhttpStatus != 0) {
    		    msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
    		}
    	}
    }
        
    if (msg == null || msg == '') {
    	msg = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	}
	return msg;
}

function setErrorHtmlMsg(elem, errorCode, errorMsg)
{
    var html =
	 	'<span class="warningRed">'
		+ "Error Code: <span id='errorCode'></span></span>"
		+ '<BR><span class="contentsRedM">' + errorMsg + '</span>';
	elem.innerHTML = html;
	document.getElementById("errorCode").innerHTML = errorCode;
}

function setErrorHtml(elem, progress)
{
	if (elem != null) {
	    var errorCode = getOssErrorCode(progress);
    	var errorMsg = getOssErrorMsg(progress);
    	setErrorHtmlMsg(elem, errorCode, errorMsg);
	}
}


// Web service error messages 
// (only include message that may potentially be displayed to user)
// (errCode is progress.errCode from a web service)
// (errInfo is progress.errInfo from a web service)
function getWebServiceErrorMsg(errCode, errInfo)
{
	var a = new Array();
	
	// ECS Errors
	a[617] = "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[618] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[623]	= "You have downloaded this title before, and your trial period has expired. You cannot redownload it.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[642] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[643] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[644] = "Credit cards cannot be used on this console.<BR><BR>Please Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[645] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ECS Gift Errors
	a[646] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[621] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[626] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[625] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// ETS Errors
	a[705] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[706] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[707] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	
	// PAS Errors
	a[810]	= "An error has occurred while redeeming your Wii Download Ticket.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[811]	= "The Wii Points Card you entered has expired.";
	//a[812]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[813]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	//a[814]	= "???OSS_ERROR_ECARD_NOT_USABLE???";
	a[815]	= "This Wii Points Card has already been redeemed.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[819]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	
	a[826]	= "The server is busy.<BR><BR>Please try again later.";
	a[829]	= "The server is busy.<BR><BR>Please try again later.";
	a[830]	= "The Wii Points Card activation number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[831] = "This Wii Points Card cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	// IAS Errors 
	a[901]	= "The Wii Number you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[903]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[928] = "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[958]	= "An error has occurred that cannot be resolved at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[942] = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
	a[943]	= "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";

	a[941] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	
	// More IAS Errors
	a[1401] = "An error occurred while linking the Username. Please check the Username and password and try again.<BR><BR>If you have forgotten your Username or password, please visit club.nintendo.com.";
	a[1402] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
        a[1403] = "Due to restrictions on your Club Nintendo Membership, it cannot be linked to this Wii Shop Channel account.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1499] = "Unable to confirm the Username at this time. The server is currently undergoing maintenance.<BR><BR>Sorry for the inconvenience. Please try again later.";
	
	// OSS Errors
	a[1610]	= "The Wii Download Ticket you entered has expired.";
	a[1611]	= "The Wii Download Ticket code you entered is incorrect.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1612] = "This Wii Download Ticket cannot be used in your country.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[1613] = "There is no software available at this time for the Wii Download Ticket code you entered. Please check that you have entered the correct code.<BR><BR>NOTE: If you have activated Parental Controls, you may not be able to view all available software in the Wii Shop Channel. Please check your Parental Controls settings.";
	
	
	var msg = a[errCode];
	if(msg == null || msg == "") { // default errors
		if ((errCode >= 1400 && 
		     errCode <= 1499)) {
			msg = "Unable to confirm the Username at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance if this continues.";
		}
	}
	return msg;
}

// NOA errors
function getNOAError(code)
{
	var a=new Array();
	
	a[NOA_ERROR_CountyRequired] 				= "County is required.<BR><BR>Please try again.";
	a[NOA_ERROR_FoundOnBlacklist]				= "Unable to process.<BR><BR>For more information, visit https://ftolnks.xyz/.";
	a[NOA_ERROR_BillingAddress]                             = "The information you&rsquo;ve entered regarding your credit-card billing address is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCardType]                            = "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidVfyValue]                            = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCcNumberAndExpDate]                  = "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidCreditCardNumber]			= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidExpDate]				= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_InvalidPostalCode]                          = "The postal code does not match the country settings entered in your Wii Settings.<BR><BR>Please verify the information and try again.";
	a[NOA_ERROR_TechnicalDifficulties]			= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";
	a[NOA_ERROR_TryAgainLater]				= "Unable to confirm credit-card information at this time. Please try again later.<BR><BR>Create a Support Post in the Official Reviive Shop Discord Server for assistance.";

	a[NOA_RESULT_ERROR_CreditCardDeclined]			= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Funds]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Inactive]		= "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Exp]		= "The credit-card expiration date is invalid.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Code]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_CCNum]		= "This credit-card number is invalid.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Limit]            = "This credit card can&rsquo;t be used.<BR><BR>Please contact your credit-card company for more information.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_Invalid]		= "The credit-card information you&rsquo;ve entered is incorrect.<BR><BR>Please verify the information and try again.";
	a[NOA_RESULT_ERROR_CreditCardDeclined_AVS]		= "Billing zip/postal code is invalid. Please verify the information and try again. ";

	a[NOA_ERROR_EmptyVfyValue]				= "Please enter the three-digit security code.";

	var msg = a[code];
	return msg;
}

// IAS errors
function isLoyaltyError(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode >= 1400 && 
		     progress.errCode <= 1499) ||
			(progress.errCode == 942) ||
			(progress.errCode == 943) ||
			(progress.errCode == 941)) {
			return true;
		}
	}
	return false;
}	

function needCheckRegistration(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if ((progress.errCode == 903) ||
		     (progress.errCode == 642) ||
		     (progress.errCode == 625)) {
			return true;
		}
	}
	return false;		
}

function needSyncEticket(progress)
{
	if (progress.status == EC_ERROR_WS_REPORT) {
		if (progress.errCode == 621) {
			return true;
		}
	}
	return false;		
}



//-->

</script>
<title>One Free Title</title>

<style type="text/css">
    
/* Top-Left Page Title */
#text01-01 {
    position:absolute;
    left:29px;
    top:28px;
    width:442px;
    height:28px;
    z-index:32;
}

/* Main ICR Explaination */
#text02-01 {
    position:absolute;
    left:36px;
    top:88px;
    width:540px;
    height:200px;
    z-index:37;
}

/* ICR Caution */
#text02-02 {
    position:absolute;
    left:36px;
    top:294px;
    width:540px;
    height:60px;
    z-index:37;
}

/* ICR BackGround */
#icrBackground {
    position:absolute ;
    left: 51px;
    top :93px;
    z-index:2;
}
</style>

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script type="text/JavaScript">
<!--


function getICRUserStatus() {
    var status ;

    if ( ecSupportsSession() ){
        status =  ec.getSessionValue("icrStatus");

        if ( status == "ACTIVATED" || status == "COMPLETE" || status == "DISABLED" ){
            return status ;
        }
    }

    return "DISABLED";
}

function getICRUserDiscountType(){
    var status;
    if ( ecSupportsSession()){
        status=getICRUserStatus();
        if(status == "ACTIVATED"){
            return ec.getSessionValue("icrDiscountType");
        }
    }
    return "";
}



function isICRExpired(){
    
        trace("titleDetails is empty");
        return true;
        
}
//-->
</script>

<!--  -----------------------------------------------------  -->
<!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
<!--  All Rights Reserved.                                   -->
<!--                                                         -->
<!--  This software contains confidential information and    -->
<!--  trade secrets of Acer Cloud Technology, Inc.           -->
<!--  Use, disclosure or reproduction is prohibited without  -->
<!--  the prior express written permission of Acer Cloud     -->
<!--  Technology, Inc.                                       -->
<!--  -----------------------------------------------------  -->
<script type="text/JavaScript">
<!--

var cardPicCodes = new Array(new Array("MY", "mynintendo_a.gif", "mynintendo_b.gif"), 
        new Array("CLUB", "clabnintendo_a.gif", "clabnintendo_b.gif"), 
        new Array("MOTHER", "mynintendoEU_a.gif", "mynintendoEU_b.gif"));
var cardPicDefault = "";
var clubImgName_b = "";

function membershipImgSwap()
{
    MM_swapImage('clubImage','','/static/images//banner/' + clubImgName_b,1)
}

function S_01_getLoyaltyPic() 
{
    var clubImgName_a="";
    var found=false;

    
        if(!found)
            clubImgName_a = cardPicDefault;

    return clubImgName_a;	
}

function S_01_setLoyaltyImage() {
    var imageName;
    var cardImg;

    imageName=S_01_getLoyaltyPic();
    cardImg = document.getElementById('clubImage');
    if(cardImg && imageName != '') {
        cardImg.src='/static/images//banner/' + imageName;
    }

}


function showLoyaltyDiv()
{
    var spacer = document.getElementById("loyaltySpacer");
    var d = document.getElementById("membership");
    var loyaltyAccount = null;
    <!-- No loyalty link information from server, use loyalty account info cached on client -->
        loyaltyAccount = getLoyaltyAccount(loyaltyAccount);
      
        trace("loyalty is '" + loyaltyAccount + "'");

    S_01_setLoyaltyImage();

    if (loyaltyAccount != null) {
        if (d != null && spacer) {
            d.style.display = '';
            spacer.onclick = "javascript:showPage('S_05.jsp?loyalty='); if(snd) snd.playSE( cSE_Decide );";
        }
    } else {
        if (d != null && spacer) {
            d.style.display = '';
            spacer.onclick = "javascript:showPage('S_02.jsp?loyalty='); if(snd) snd.playSE( cSE_Decide );";
        }
    }
}





function setValidElements()
{
    var shop = new wiiShop;
    var validElements = {};
  if (shop.isCompatibleMode) {
    validElements["membership"] = false ;
  }
  else{
    validElements["membership"] = false
  }
<!-- Begin ICR Demo -->
    if ( !shop.isCompatibleMode  && getICRUserStatus() == "ACTIVATED" ) {
        validElements["icr"] = true ;
    } else {
        validElements["icr"] = false ;
    }
<!-- End ICR Demo -->
    if (shop.isCompatibleMode) {
        validElements["giftbox"] = false;
    }
    else{
        validElements["giftbox"] = true;
    }
    validElements["gamecard"] = true
    if (shop.isCompatibleMode) {
        validElements["connect"] = false;
    }
    else{
        validElements["connect"] = false
    }
    validElements["access"] = false
    validElements["record"] = true;

    return validElements;
}

//Maybe, object is not preferable.
function createElementList()
{
    var validElements = setValidElements();
    var elementList = new Array();
    var showTop = 5, topStride =95;
    var SettingList = {
insertElement:
        function(element){
            if(validElements[element]){
                elementList.push(element);
            }
        },
showElements:
        function(){
            for(var i in elementList){
                //trace("elementList[" + i + "] = " + elementList[i]);
                var element_i = elementList[i];
                if(element_i == "membership"){
                    showLoyaltyDiv();
                }else{
                    showElement(element_i);
                }
                (document.getElementById(element_i)).style.top = showTop;
                showTop += topStride;
            }
        }
    }
    return SettingList;
}

function initPage()
{
    initPageCommon();

  if (shop.isCompatibleMode)
  {
      initPageWiiU();
  }
  else
  {
    document.getElementById("catalogWiiU").style.display='none';
    MM_preloadImages('/static/images//banner/under_banner_b.gif',
            '/static/images//banner/help_b.gif',
<!-- Begin ICR Demo -->
            '/static/images//banner/icr_b_E.gif',
<!-- End ICR Demo -->
            '/static/images//banner/top_b.gif',
            '/static/images//banner/record_b.gif',
            '/static/images//banner/gift_b.gif',
            '/static/images//banner/clabnintendo_b.gif',
            '/static/images//banner/accessible_b.gif',
            '/static/images//banner/gamecard_b.gif',
            '/static/images//banner/connect_b.gif',
            '/static/images//banner/mynintendo_b.gif',
            '/static/images//banner/mynintendoEU_b.gif');

    var settingList = createElementList();
<!-- Begin ICR Demo -->
    settingList.insertElement("icr");
<!-- End ICR Demo -->
    settingList.insertElement("connect");
    settingList.insertElement("gamecard");
    settingList.insertElement("membership");
    settingList.insertElement("giftbox");
    settingList.insertElement("access");
    settingList.insertElement("record");
    settingList.showElements();
  }

}

function initPageWiiU()
{

    MM_preloadImages('/static/images//banner/under_banner_b.gif',
                      '/static/images//banner/top_b.gif',
                      '/static/images//banner/help_b.gif',
                      '/static/images//banner/record_b.gif',
                      '/static/images//banner/gamecard_b.gif');

  document.getElementById("catalogFrame").style.display='none';
  document.getElementById("catalogFrame").style.height='0px';
    if (true)
    {

    }
    else
    {
        document.getElementById("gamecardWiiU").style.display='none';
        document.getElementById("recordWiiU").style.top='95px';
    }
    document.body.style.overflow="hidden";
}

function showGiftSettings() {
    // Use HTTPS
    trace("showGiftSettings");
    var inputHTML = "";
    var form = createPostForm("ShowGiftSettingsForm", "S_12.jsp", true, inputHTML);    
    form.submit();
}

var scroll_step = 30;
function kdown()
{
    var _code = event.keyCode;
    var _obj = document.getElementById('catalogFrame');
    switch(_code)
    {
        case 175:    //up
        case  38:
            _obj.scrollTop -= scroll_step;
            break;
        case 176:    //down
        case  40:
            _obj.scrollTop += scroll_step;
            break;
    }
}

//-->
</script>
</head>

<body onload="initPage()">
    <!--  -----------------------------------------------------  -->
    <!--  Copyright 2005-2014 Acer Cloud Technology, Inc.        -->
    <!--  All Rights Reserved.                                   -->
    <!--                                                         -->
    <!--  This software contains confidential information and    -->
    <!--  trade secrets of Acer Cloud Technology, Inc.           -->
    <!--  Use, disclosure or reproduction is prohibited without  -->
    <!--  the prior express written permission of Acer Cloud     -->
    <!--  Technology, Inc.                                       -->
    <!--  -----------------------------------------------------  -->
    <script language="JavaScript">MM_preloadImages('/static/images/banner/under_banner_b.gif');</script>
    
    
    
    
    <div id="underButton" style="display:block;">
        <div id="underbannershadow" class="buttonBannerShadow">
            <img src="/static/images//banner/under_banner_shadow.gif" width="211" height="75"></div>
        <div id="underbanner" class="buttonBanner">
            <img src="/static/images//banner/under_banner_a.gif" width="187" height="55" id="underImg"></div>
        <div id="underspacer" class="buttonSpacer">
        <a href="/homepage" id="underlink">
            <img id="underimage" src="/static/images//spacer.gif" width="187" height="55" border="0" onmouseover="MM_swapImage('underImg','','/static/images//banner/under_banner_b.gif',1); snd.playSE( cSE_Forcus );" onmouseout="MM_swapImgRestore()">
            </a>
        </div>
        <div id="underword" align="center" class="buttonTextBlackM buttonWord">
    OK
        </div>
    </div>
    
    
    <div class="dot" id="line01">･･･････････････････････････････････････････････････････････････････････････</div>
    <div class="dot" id="line02">･･･････････････････････････････････････････････････････････････････････････</div>
    
    <div class="titleBlackM" id="text01-01">
      Unlink Your Club Nintendo Membership</div>
    <div class="contentsBlackS_01" align="left" id="text02-01">
         Your Club Nintendo Membership and Rev/Wii Shop Channel account are now unlinked.</div>
    
    
    
    </body>



</html>
